

#photosphere {
    background-image: url("images/pano-test.jpg");
    background-size: cover;
}

#psvTitle, button, .topTitle, .sTitle {
    user-select: none;
}

#page-wrap {

    position:relative;

    #bar {

    }
    #main {
    }
    

    #minWidth {
        background-color: rgba(255,100,100,0.1);
        pointer-events: none;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    #maxWidth {
        background-color: rgba(100,255,100,0.1);
        pointer-events: none;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

@media (orientation: landscape) {
    #page-wrap {

        $minWidth: 30vh;
        $maxWidth: 80vh;

        #bar {
            flex: 1 10 35vw;
            max-width: $maxWidth;
            min-width: $minWidth;
        }
        #main {
            flex: 1 1 130vh;
        }
        #minWidth {
            top: 0;
            width: $minWidth;
        }
        #maxWidth {
            top: 0;
            width: $maxWidth;
        }
    }
}

html {
    @media (max-width: 400px) {
        font-size: 10px;
    }
    @media (max-width: 440px) {
        font-size: 12px;
    }
    @media (max-width: 800px) {
        font-size: 12px;
    }

}

#main #psvContainer1 #psvCosmeticFrame #psvButtons button > div {
    max-width: 100%;
}

#main #psvContainer1 #psvMain {


    @media (max-height: 700px) and (max-width: 700px) {
        border-radius: 2px;
    }

    @media (min-width: 1100px) and (min-height: 900px) {
        border-radius: 4px;
    }

    @media (min-width: 1500px) and (min-height: 1000px) {
        border-radius: 5px;
    }
}




// @media (resolution: 150dpi) {

@media (orientation: portrait) {
    #page-wrap {

        $minHeight: 30vh;
        $maxHeight: 50vh;

        
        #bar {
            flex: 4 3 auto;
            max-height: $maxHeight;
            min-height: $minHeight;
        }
        #main {
            flex: 1 1 80vw;  
        }


        #minWidth {
            right: 0;
            height: $minHeight;
        }
        #maxWidth {
            right: 0;
            height: $maxHeight;
        }
    }
}


