
body, html {
    margin: 0;
    padding: 0;
    background-color: #000;
}

html, #photosphere {
    margin: 0;
    width: 100%;
    height: 100%;
}


.bar {
	position: fixed;
	background-color: #000;
	scrollbar-width: thin;
	scrollbar-color: #333 #222;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */


}



.bar::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}
.bar::-webkit-scrollbar-track {
	background: #222;
	border-radius: 0.5rem;
}
.bar::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 0.5rem;
}

.innerBar {
	position: absolute;
	top:0;
	left:0;
	display: flex;
	align-items: center;
	justify-content: center;
	direction: ltr;
}

.main {
	position: fixed;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	position: relative;
	display: block;
	background: #ffd2a6;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.subContainer {
	display: block;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.subSubContainer {
	display: block;
	background-color: black;
    overflow: hidden;
    
}


.topTitle, .sTitle {
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal; 
	text-transform: capitalize;
	margin-bottom: 0.2em;

	position: relative;
	width: 18.5vw;
}
.topTitle > div, .sTitle > div {
	position: absolute;
	width: 18.5vw;
	transform-origin: 100% 0;
	display: flex;
	align-items: center;
	justify-content: left;
}
.topTitle {
	height: 2rem;
	font-size: 1.25rem;
}
.topTitle > div {
	height: 2rem;
	color: #000;
	background-color: #70a8c1;
}
.topTitle > div > div {
	margin-left: 0.5rem;
}


.sTitle {
	height: 1rem;
}
.sTitle > div {
	height: 1rem;
	color: #000;
	background-color: #2e7fa5;
	font-size: 1rem;
	line-height: 1rem;
}
.sTitle > div > div {
	margin-left: 0.5rem;
	height: 1rem;
	background-color: #000;
	color: #2e7fa5;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.blockage {
	position: absolute;
	top:0;
	bottom:0;
	background-color: black;
	z-index: -1;
}

@media (orientation: landscape) {	
	.container {
		width: 75vw;
		height: 56.25vw;
		border-radius: 3vw;
	}
	.subContainer {
		width: 71.25vw;
		height: 52.5vw;
		border-radius: 2vw;
	}
	.subSubContainer {
		width: 69.75vw;
		height: 51vw;
		border-radius: 2vw;
	}
	.bar {
		top: 5vh;
		bottom: 5vh;
		left: 1.5vw;
		width: 19vw;
		overflow-y: scroll;
		direction: rtl;
	}
	.innerBar {
		left: 0.5vw;
		width: 18.5vw;
		flex-direction: column;
	}
	.topTitle, .sTitle {
		width: 18.5vw;
	}
	.main {
		top: 0;
		bottom: 0;
		right: 0;
		width: 79vw;
	}
	.mapBox {
		margin-top: 1vw;
		margin-bottom: 1vw;
		height:auto;
	}
	.blockage {
		left: 3.75vw;
		right: 3.75vw;
	}
}


@media (min-aspect-ratio: 8/5) {
	.container {
		width: 120vh;
		height: 90vh;
		border-radius: 4.8vh		;
	}
	.subContainer {
		width: 114vh;		
		height: 84vh;
		border-radius: 3.2vh;
	}
	.subSubContainer {
		width: 111.6vh;
		height: 81.6vh;
		border-radius: 3.2vh;
	}
	.blockage {
		left:6vh;
		right:6vh;	
	}
}

@media (orientation: portrait) {


	.topTitle, .sTitle {
		height: 21vh;
		width: 2rem;
		margin-bottom: unset;
		margin-right: 0.2em;
	}
	.topTitle > div, .sTitle > div {
		width: 21vh;
		height: 2rem;
		transform: rotate(-90deg) translateY(-21vh);
		-webkit-transform: rotate(-90deg) translateY(-21vh);
		-moz-transform: rotate(-90deg) translateY(-21vh);
		-ms-transform: rotate(-90deg) translateY(-21vh);
		-o-transform: rotate(-90deg) translateY(-21vh);
	}
	.topTitle {
		width: 2rem;
	}
	.topTitle > div {
		height: 2rem;
	}


	.sTitle {
		width: 1rem;
	}
	.sTitle > div {
		height: 1rem;
	}



	

	.bar {
		bottom: 2.5vh;
		left: 5vw;
		right: 5vw;
		height: 22.5vh;
		overflow-x: scroll;
	}
	.innerBar {
		height: 21vh;
		flex-direction: row;
	}
	.mapBox {
		margin-left: 1vw;
		margin-right: 1vw;
		width: auto;
	}
	.main {
		top: 0;
		height: 75vh;
		left: 0;
		right: 0;
	}
	.container {
		height: 67.5vw;
		width: 90vw;
		border-radius: 3.6vw;
	}

	.subContainer {
		height: 64.125vw;
		width: 86.625vw;	
		border-radius: 2.4vw;
	}
	.subSubContainer {
		height: 62.775vw;
		width: 85.275vw;
		border-radius: 2.4vw;
	}
	.blockage {
		left: 4.5vw;
		right: 4.5vw;
	}

}

.mapBox {
}

.mapBox .cameraPoint {
	fill: #70a8c1;
	stroke: rgba(0,0,0,0.1);
	stroke-width: 0.015rem;
}
.mapBox.cameraPoint:hover {
	cursor: pointer;
}

