/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

/*

0.5rem: 8px;
0.75rem: 12px;
1rem: 16px;
1.125rem: 18px;
1.25rem: 20px;
1.375rem: 22px;
1.5rem: 24px;

*/
/*

0.5rem: 8px;
0.75rem: 12px;
1rem: 16px;
1.125rem: 18px;
1.25rem: 20px;
1.375rem: 22px;
1.5rem: 24px;

*/
@supports selector(::-webkit-scrollbar) {
  #bar::-webkit-scrollbar {
    width: auto;
    height: auto;
  }
  #bar::-webkit-scrollbar:vertical {
    width: 11px;
    height: auto;
  }
  #bar::-webkit-scrollbar:horizontal {
    height: 11px;
    width: auto;
  }
  #bar::-webkit-scrollbar-track {
    background: #222;
    border-radius: 11px;
  }
  #bar::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 11px;
  }
  #bar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  #bar::-webkit-scrollbar-thumb:active {
    background-color: #999;
  }
}
@supports not selector(::-webkit-scrollbar) {
  #bar {
    scrollbar-width: thin;
    scrollbar-color: #444 #222;
  }
}

/*

0.5rem: 8px;
0.75rem: 12px;
1rem: 16px;
1.125rem: 18px;
1.25rem: 20px;
1.375rem: 22px;
1.5rem: 24px;

*/
.groupContainer {
  background-color: #6095ad;
  display: flex;
}
.groupContainer .groupInnerContainer {
  background-color: #000;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.topTitle,
.sTitle {
  font-family: Antonio, "Arial Narrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  white-space: nowrap;
}

.topTitle {
  font-weight: 700;
  position: relative;
  font-size: 1.25rem;
  display: flex;
}
.topTitle > div {
  line-height: 0.8;
  color: #000;
}
.topTitle > div > span {
  font-size: 0.8em;
  font-weight: 400;
}

.sTitle {
  font-weight: 700;
  position: relative;
  background-color: #2e7fa5;
  font-size: 1.25rem;
  display: flex;
}
.sTitle > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  background-color: #000;
  line-height: 0.8;
}

.mapBox {
  font-size: 0.6rem;
}
.mapBox .cameraPoint {
  fill: #ffa980;
  stroke: #000;
  stroke-width: 0.04em;
  stroke-opacity: 0.7;
  paint-order: stroke fill;
  fill-opacity: 0.75;
  vector-effect: non-scaling-size;
  /*
  fill: none;
  stroke: #ffa980;
  stroke-width: 0.035em;
  stroke-opacity: 0.85;
  paint-order: stroke fill;
  fill-opacity: 0.75;
  */
}
.mapBox .cameraPoint:hover {
  cursor: pointer;
  fill: #ffa980;
  stroke-opacity: 1;
  fill-opacity: 1;
}
.mapBox .mapColorRect {
  fill: rgba(204, 229, 240, 0.9490196078);
}
.mapBox .cameraPoint1 {
  color: #ff9;
  fill: green;
  stroke: red;
}

.cameraPoint2 {
  fill: yellow;
  color: orange;
}
.cameraPoint2:hover {
  color: aquamarine;
  cursor: pointer;
}

.circleMark2 .circleMark2Outer {
  fill: currentColor;
  stroke: black;
}
.circleMark2 .circleMark2Inner {
  fill: #ffcc99;
  stroke: black;
}
.circleMark2 .circleMark2Part {
  paint-order: stroke fill;
  stroke-width: 0.05em;
}

@media (orientation: landscape) {
  .groupContainer {
    padding-left: 0.5rem;
    border-top-left-radius: 0.5rem;
    flex-direction: column;
    width: 100%;
  }
  .groupContainer .groupInnerContainer {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    border-top-left-radius: 0.5rem;
    flex-direction: column;
    width: 100%;
  }
  .topTitle {
    width: 100%;
    height: 1.5rem;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.25rem;
  }
  .topTitle > div {
    position: relative;
    top: -1px;
  }
  .topTitle > div > span {
    margin-left: 0.3em;
  }
  .sTitle {
    width: 100%;
    height: 1.25rem;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.5rem;
  }
  .sTitle > div {
    height: 120%;
  }
  .sTitle > div > div {
    position: relative;
    top: -1px;
    padding: 0 0.25rem;
  }
  .mapBox {
    margin: 0.5rem 0;
  }
  #SVGMAP_USS_ENTERPRISE_MAIN_BRIDGE {
    width: 46.373250528%;
  }
  #SVGMAP_BIRD_OF_PREY_D12_BRIDGE {
    width: 35.8688125631%;
  }
  #SVGMAP_USS_ENTERPRISE-D_DECK_ONE {
    width: 68.0375009045%;
  }
  #SVGMAP_USS_ENTERPRISE-D_ENGINEERING {
    width: 43.8115255553%;
  }
  #SVGMAP_USS_ENTERPRISE-D_SICKBAY {
    width: 47.3431725004%;
  }
  #SVGMAP_USS_ENTERPRISE-D_TEN-FORWARD_LOUNGE {
    width: 65.6543147764%;
  }
  #SVGMAP_USS_ENTERPRISE-D_TRANSPORTER_ROOM_3 {
    width: 29.6821788047%;
  }
  #SVGMAP_USS_ENTERPRISE-D_CPT_PICARDS_QUARTERS {
    width: 22.7121387031%;
  }
  #SVGMAP_USS_ENTERPRISE-D_CNS_TROIS_QUARTERS {
    width: 22.7597322253%;
  }
  #SVGMAP_USS_ENTERPRISE-D_LT_DATAS_QUARTERS {
    width: 23.5666425228%;
  }
  #SVGMAP_USS_ENTERPRISE-D_LT_WORFS_QUARTERS {
    width: 31.3573211609%;
  }
  #SVGMAP_USS_ENTERPRISE-D_TYPE_6_SHUTTLECRAFT {
    width: 25.6205804022%;
  }
  #SVGMAP_USS_ENTERPRISE-D_BEHIND_THE_SCENES {
    width: 7.3201658292%;
  }
  #SVGMAP_USS_ENTERPRISE-E_BRIDGE {
    width: 54.901243719%;
  }
  #SVGMAP_USS_DEFIANT_DECK_ONE {
    width: 36.600829146%;
  }
  #SVGMAP_USS_VOYAGER_DECK_ONE {
    width: 96%;
  }
  #SVGMAP_USS_VOYAGER_SICKBAY__DECK_5 {
    width: 87.8419899505%;
  }
  #SVGMAP_USS_VOYAGER_TRANSPORTER_ROOM {
    width: 26.1695928394%;
  }
  #SVGMAP_USS_VOYAGER_ENGINEERING {
    width: 91.5020728651%;
  }
  #SVGMAP_USS_VOYAGER_MESS_HALL {
    width: 47.5810778898%;
  }
  #SVGMAP_USS_ENTERPRISE_BRIDGE {
    width: 65.8814924629%;
  }
  #SVGMAP_USS_ENTERPRISE_CORRIDOR {
    width: 80.5218241213%;
  }
  #SVGMAP_USS_DISCOVERY_BRIDGE {
    width: 75.946720478%;
  }
  #SVGMAP_USS_DISCOVERY_TRANSPORTER_ROOM {
    width: 60.0253597995%;
  }
  #SVGMAP_USS_DISCOVERY_MESS_HALL {
    width: 81.8028531414%;
  }
  #SVGMAP_USS_DISCOVERY_CORRIDOR {
    width: 61.1233846739%;
  }
  #SVGMAP_ISS_STATION_13_SCALE {
    width: 91.5020728651%;
  }
}
@media (orientation: portrait) {
  .groupContainer {
    padding-bottom: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    flex-direction: row;
    height: 100%;
  }
  .groupContainer .groupInnerContainer {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    flex-direction: row;
    height: 100%;
  }
  .topTitle {
    height: 100%;
    width: 1.5rem;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 0.25rem;
  }
  .topTitle > div {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    position: relative;
    left: -1px;
  }
  .topTitle > div > span {
    margin-top: 0.3em;
  }
  .sTitle {
    height: 100%;
    width: 1.25rem;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 0.5rem;
  }
  .sTitle > div {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    width: 120%;
    margin: 0 -1px;
  }
  .sTitle > div > div {
    position: relative;
    right: -1px;
    padding: 0.25rem 0;
  }
  .mapBox {
    margin: 0 0.5rem;
  }
  #SVGMAP_USS_ENTERPRISE_MAIN_BRIDGE {
    height: 55.619576005%;
  }
  #SVGMAP_BIRD_OF_PREY_D12_BRIDGE {
    height: 47.67392229%;
  }
  #SVGMAP_USS_ENTERPRISE-D_DECK_ONE {
    height: 96%;
  }
  #SVGMAP_USS_ENTERPRISE-D_ENGINEERING {
    height: 83.3547265094%;
  }
  #SVGMAP_USS_ENTERPRISE-D_SICKBAY {
    height: 63.5813395329%;
  }
  #SVGMAP_USS_ENTERPRISE-D_TEN-FORWARD_LOUNGE {
    height: 86.9653070412%;
  }
  #SVGMAP_USS_ENTERPRISE-D_TRANSPORTER_ROOM_3 {
    height: 41.5400643449%;
  }
  #SVGMAP_USS_ENTERPRISE-D_CPT_PICARDS_QUARTERS {
    height: 58.4640008502%;
  }
  #SVGMAP_USS_ENTERPRISE-D_CNS_TROIS_QUARTERS {
    height: 47.5191687654%;
  }
  #SVGMAP_USS_ENTERPRISE-D_LT_DATAS_QUARTERS {
    height: 33.7841456895%;
  }
  #SVGMAP_USS_ENTERPRISE-D_LT_WORFS_QUARTERS {
    height: 55.2611356475%;
  }
  #SVGMAP_USS_ENTERPRISE-D_TYPE_6_SHUTTLECRAFT {
    height: 11.123915201%;
  }
  #SVGMAP_USS_ENTERPRISE-D_BEHIND_THE_SCENES {
    height: 7.945653715%;
  }
  #SVGMAP_USS_ENTERPRISE-E_BRIDGE {
    height: 59.5924028625%;
  }
  #SVGMAP_USS_DEFIANT_DECK_ONE {
    height: 83.4293640075%;
  }
  #SVGMAP_USS_VOYAGER_DECK_ONE {
    height: 53.1886906531%;
  }
  #SVGMAP_USS_VOYAGER_SICKBAY__DECK_5 {
    height: 63.56522972%;
  }
  #SVGMAP_USS_VOYAGER_TRANSPORTER_ROOM {
    height: 41.317399318%;
  }
  #SVGMAP_USS_VOYAGER_ENGINEERING {
    height: 75.4837102925%;
  }
  #SVGMAP_USS_VOYAGER_MESS_HALL {
    height: 43.7010954325%;
  }
  #SVGMAP_USS_ENTERPRISE_BRIDGE {
    height: 55.619576005%;
  }
  #SVGMAP_USS_ENTERPRISE_CORRIDOR {
    height: 43.7010954325%;
  }
  #SVGMAP_USS_DISCOVERY_BRIDGE {
    height: 77.0927051698%;
  }
  #SVGMAP_USS_DISCOVERY_TRANSPORTER_ROOM {
    height: 51.6467491475%;
  }
  #SVGMAP_USS_DISCOVERY_MESS_HALL {
    height: 50.0576184045%;
  }
  #SVGMAP_USS_DISCOVERY_CORRIDOR {
    height: 31.78261486%;
  }
  #SVGMAP_ISS_STATION_13_SCALE {
    height: 72.821916298%;
  }
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  background-color: black;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  font-family: Antonio;
  padding: 1.5rem;
}

#defs {
  position: fixed;
  top: -100px;
  left: -100px;
  width: 10px;
  height: 10px;
}

#page-wrap {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  gap: 0;
}

.spacer {
  height: 100%;
  flex: 1 0 auto;
  background-color: transparent;
}

#main {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 4.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
#main #psvContainer1 {
  aspect-ratio: 4/3;
  background-color: transparent;
  margin: auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
#main #psvContainer1 #psvContainer2 {
  aspect-ratio: 4/3;
  background-color: transparent;
  margin: auto;
  flex: 1 1 auto;
  position: relative;
}
#main #psvContainer1 #psvCosmeticFrame {
  border-radius: 3rem;
  background-color: #ffcc99;
  position: absolute;
  top: -3rem;
  bottom: -4.5rem;
  left: -3rem;
  right: -3rem;
  /*
  &:after {
      content: '';
      position: absolute;
      top: -1.05 * $frameWidth;
      bottom: -1.05 * $frameWidth;
      left: 1.5 * $frameWidth;
      right: 1.5 * $frameWidth;
      background-color: #000000dd;
  }
  */
}
#main #psvContainer1 #psvCosmeticFrame #psvCosmeticInner1 {
  position: absolute;
  top: 1.5rem;
  bottom: 3rem;
  left: 1.5rem;
  right: 1.5rem;
  background-color: #000;
  border-radius: 1.5rem;
}
#main #psvContainer1 #psvCosmeticFrame #psvCosmeticInner2 {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 3.75rem;
  right: 3.75rem;
  background-color: #000;
}
#main #psvContainer1 #psvCosmeticFrame #psvButtons {
  position: absolute;
  right: 4.5rem;
  left: 4.5rem;
  height: 3rem;
  bottom: 0;
  background-color: transparent;
  display: flex;
  gap: 0.75rem;
}
#main #psvContainer1 #psvCosmeticFrame #psvButtons button {
  padding: 0 0.375rem 0.375rem 0;
  height: 100%;
  flex: 0 1 6.75rem;
  border: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  font-weight: 900;
  text-align: right;
}
#main #psvContainer1 #psvCosmeticFrame #psvButtons button:last-child {
  padding-right: 0.75rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  flex-basis: 7.125rem;
}
#main #psvContainer1 #psvCosmeticFrame #psvButtons button img {
  height: 1.6em;
}
#main #psvContainer1 #psvCosmeticFrame #psvButtons button:hover {
  color: #333;
}
#main #psvContainer1 #psvCosmeticFrame #psvButtons button:hover img {
  opacity: 0.7;
}
#main #psvContainer1 #psvCosmeticFrame #psvButtons button.redAlert {
  padding-right: 1.125rem;
  font-size: 1.125rem;
  line-height: 1;
  align-items: center;
  padding-bottom: 0;
}
#main #psvContainer1 #psvCosmeticFrame #psvTitle {
  position: absolute;
  right: 4.5rem;
  left: 4.5rem;
  height: 1.5rem;
  top: 0;
  background-color: transparent;
  display: flex;
  color: white;
  font-weight: 700;
}
#main #psvContainer1 #psvCosmeticFrame #psvTitle span {
  line-height: 0.8;
  font-size: 1.5rem;
}
#main #psvContainer1 #psvMain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(18, 36, 141);
  overflow: hidden;
  border-radius: 3px;
  background-image: url("./assets/pano3.png");
  background-size: cover;
}
#main #psvContainer1 #bodyText {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  padding: 1px;
  background-color: black;
  overflow: hidden;
  border-radius: 3px;
  background-size: cover;
  color: #ffcc99;
  font-size: 2vmin;
  font-weight: 400;
}
#main #psvContainer1 #bodyText p {
  margin-bottom: 1em;
}

button {
  background-color: #ffcc99;
}
button:hover {
  background-color: #ffeecc;
  cursor: pointer;
}
button:active {
  background-color: #ffdfb3;
}

button.red {
  background-color: #dd4444;
}
button.red:hover {
  background-color: #ed5a5a;
  cursor: pointer;
}
button.red:active {
  background-color: #ed5a5a;
}

#bar {
  background-color: transparent;
}
#bar #innerBar {
  background-image: url("./assets/bg.png");
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}
#bar #innerBar #testItem1 {
  border: 1px solid #444444;
}
#bar #innerBar #testItem2 {
  border: 1px solid #444444;
}

/*

0.5rem: 8px;
0.75rem: 12px;
1rem: 16px;
1.125rem: 18px;
1.25rem: 20px;
1.375rem: 22px;
1.5rem: 24px;

*/
@supports selector(::-webkit-scrollbar) {
  #bar::-webkit-scrollbar {
    width: auto;
    height: auto;
  }
  #bar::-webkit-scrollbar:vertical {
    width: 11px;
    height: auto;
  }
  #bar::-webkit-scrollbar:horizontal {
    height: 11px;
    width: auto;
  }
  #bar::-webkit-scrollbar-track {
    background: #222;
    border-radius: 11px;
  }
  #bar::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 11px;
  }
  #bar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  #bar::-webkit-scrollbar-thumb:active {
    background-color: #999;
  }
}
@supports not selector(::-webkit-scrollbar) {
  #bar {
    scrollbar-width: thin;
    scrollbar-color: #444 #222;
  }
}

@media (orientation: landscape) {
  #page-wrap {
    flex-direction: row;
  }
  #main {
    height: 100%;
    width: auto;
  }
  #bar {
    margin-right: 1.5rem;
    height: 100%;
    overflow-y: scroll;
    direction: rtl;
    padding-left: 11px;
  }
  #bar #innerBar {
    direction: ltr;
    width: 100%;
    height: 4000px;
    flex-direction: column;
  }
  #bar #innerBar #testItem1 {
    height: 100px;
    width: 30%;
  }
  #bar #innerBar #testItem2 {
    height: 100px;
    width: 60%;
  }
  /*
  #buffer {
      display: none;
  }
  */
}
@media (orientation: portrait) {
  #page-wrap {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  #main {
    width: 100%;
    height: auto;
  }
  #bar {
    margin-top: 1.5rem;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 11px;
  }
  #bar #innerBar {
    height: 100%;
    width: 4000px;
    flex-direction: row;
  }
  #bar #innerBar #testItem1 {
    width: 100px;
    height: 30%;
  }
  #bar #innerBar #testItem2 {
    width: 100px;
    height: 60%;
  }
  /*
  #buffer {
      width: 100%;
      flex: 0 1 $frameWidth * 2.5;
  }
  */
}
#hlBoxPath {
  fill: #ffcc99;
  stroke: #000000;
  stroke-opacity: 0.9;
  stroke-width: 2;
}

@media (orientation: landscape) {
  #page-wrap #bar {
    flex: 0 2 35vw;
    max-width: 35vh;
  }
  #page-wrap #main {
    flex: 3 4 auto;
  }
}
@media (orientation: portrait) {
  #page-wrap #bar {
    flex: 3 1 auto;
    max-height: 40vh;
    min-height: 25vh;
  }
  #page-wrap #main {
    flex: 2 1 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
