@import "normalize";

$majorGap: 1vmin;

.a {
    background-color: green;
}


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    background-color: black;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    //padding: $majorGap;
}

#page-wrap {
    width:100%;
    height:100%;
    background-color: green;

    display: flex;
    // gap: $majorGap;
    gap: 0;
}


$frameWidth: 20px;

#main {
    background-color: brown;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: ($frameWidth * 2) ($frameWidth * 2) ($frameWidth * 4.5) ($frameWidth * 2);

    #psvContainer {
        aspect-ratio: 3/2 auto;
        background-color: blueviolet;
        margin:auto;
        flex: 1 1 auto;
        position: relative;

        #psvCosmeticFrame {
            border-color: #adff2f55;
            border-width: $frameWidth;
            border-style: solid;
            border-radius: 2 * $frameWidth;
            background-color: #ff55aa33;
            position: absolute;
            top: -2 * $frameWidth;
            bottom: -2 * $frameWidth;
            left: -2 * $frameWidth;
            right: -2 * $frameWidth;

            &:after {
                content: '';
                position: absolute;
                top: -1.05 * $frameWidth;
                bottom: -1.05 * $frameWidth;
                left: 1.5 * $frameWidth;
                right: 1.5 * $frameWidth;
                background-color: #00000033;
            }
        }

        #psvButtons {
            position:absolute;
            height: 1.5 * $frameWidth;
            left: -2 * $frameWidth;
            right: -2 * $frameWidth;
            bottom: -4.5 * $frameWidth;
            background-color: #44229988;
        }
    }
}
#bar {
    background-color: aquamarine;
    scrollbar-width: thin;
    #innerBar {
            background-color: green;
            background-image: url("bg.png");
            width:100%;
            height: 100%;

            gap: 10px;
            display: flex;

            align-items: center;

            #testItem1 {
                background-color: aquamarine;
            }
            #testItem2 {
                background-color:darkolivegreen;
            }
    }
}

#buffer {
    background-color: yellow;
}


@media (orientation: landscape) {

    body {
        padding: 1.5vw;
    }

    #page-wrap {
        flex-direction: row;
    }

    #main {
        height:100%;
        width: auto;
    }

    #bar {
        margin-right: $majorGap;
        height: 100%;
        width: 19vw;
        overflow-y: scroll;
        direction: rtl;
        padding-left:2vw;

        #innerBar {
            direction: ltr;
            width: 100%;
            height: 4000px;
            flex-direction: column;

            #testItem1 {
                height: 100px;
                width: 30%;
            }
            #testItem2 {
                height: 100px;
                width: 60%;
            }


        }
    }

    #buffer {
        display: none;
    }
}
@media (orientation: portrait) {
    body {
        padding: 1vh;
    }

    #page-wrap {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #main {
        width: 100%;
        height :auto;
        flex: 2 1 auto;
    }

    #bar {
        margin-top: $majorGap;
        // height: 19vw;
        flex: 3 1 auto;
        max-height: 40vh;
        min-height: 25vh;
        width:100%;
        overflow-x: scroll;
        padding-bottom:2vh;

        #innerBar {
            height: 100%;
            width:4000px;
            flex-direction: row;

            #testItem1 {
                width: 100px;
                height: 30%;
            }
            #testItem2 {
                width: 100px;
                height: 60%;
            }


        }
    }

    #buffer {
        width: 100%;
        flex: 0 1 $frameWidth * 2.5;
    }
}