 #SVGMAP_USS_ENTERPRISE_MAIN_BRIDGE { width: 46.373250528024144%; }
 #SVGMAP_BIRD_OF_PREY_D12_BRIDGE { width: 35.868812563112606%; }
 #SVGMAP_USS_ENTERPRISE-D_DECK_ONE { width: 68.03750090453612%; }
 #SVGMAP_USS_ENTERPRISE-D_ENGINEERING { width: 43.81152555534705%; }
 #SVGMAP_USS_ENTERPRISE-D_SICKBAY { width: 47.34317250039403%; }
 #SVGMAP_USS_ENTERPRISE-D_TEN-FORWARD_LOUNGE { width: 65.65431477643337%; }
 #SVGMAP_USS_ENTERPRISE-D_TRANSPORTER_ROOM_3 { width: 29.682178804658097%; }
 #SVGMAP_USS_ENTERPRISE-D_CPT_PICARDS_QUARTERS { width: 22.71213870311215%; }
 #SVGMAP_USS_ENTERPRISE-D_CNS_TROIS_QUARTERS { width: 22.759732225283898%; }
 #SVGMAP_USS_ENTERPRISE-D_LT_DATAS_QUARTERS { width: 23.56664252282805%; }
 #SVGMAP_USS_ENTERPRISE-D_LT_WORFS_QUARTERS { width: 31.35732116091425%; }
 #SVGMAP_USS_ENTERPRISE-D_TYPE_6_SHUTTLECRAFT { width: 25.620580402223286%; }
 #SVGMAP_USS_ENTERPRISE-D_BEHIND_THE_SCENES { width: 7.320165829206654%; }
 #SVGMAP_USS_ENTERPRISE-E_BRIDGE { width: 54.9012437190499%; }
 #SVGMAP_USS_DEFIANT_DECK_ONE { width: 36.60082914603327%; }
 #SVGMAP_USS_VOYAGER_DECK_ONE { width: 96%; }
 #SVGMAP_USS_VOYAGER_SICKBAY__DECK_5 { width: 87.84198995047984%; }
 #SVGMAP_USS_VOYAGER_TRANSPORTER_ROOM { width: 26.169592839413788%; }
 #SVGMAP_USS_VOYAGER_ENGINEERING { width: 91.50207286508316%; }
 #SVGMAP_USS_VOYAGER_MESS_HALL { width: 47.58107788984325%; }
 #SVGMAP_USS_ENTERPRISE_BRIDGE { width: 65.88149246285988%; }
 #SVGMAP_USS_ENTERPRISE_CORRIDOR { width: 80.52182412127318%; }
 #SVGMAP_USS_DISCOVERY_BRIDGE { width: 75.94672047801903%; }
 #SVGMAP_USS_DISCOVERY_TRANSPORTER_ROOM { width: 60.02535979949455%; }
 #SVGMAP_USS_DISCOVERY_MESS_HALL { width: 81.80285314138436%; }
 #SVGMAP_USS_DISCOVERY_CORRIDOR { width: 61.12338467387555%; }
 #SVGMAP_ISS_STATION_13_SCALE { width: 91.50207286508316%; }