<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Trekorama</title>
  <meta name="description" content="Trekorama">
  <meta name="format-detection" content="telephone=no">
    
  <meta name="author" content="MiJoFr">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/bebasneueregular" type="text/css" />
</head>

<style id="hTag"></style>

<body>
  <div id="fullWrap">


  <div class="bar">
    <div class="innerBar">

        {{> svgbar}}

    </div>
  </div>
  <div class="main">
    <div class="container">
      <div id="photosphere"></div>

    </div>
  </div>

  </div>


</body>
</html>