<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Trekorama</title>
  <meta name="description" content="360° of Star Trek">
  <meta name="format-detection" content="telephone=no">

  <meta name="author" content="MiJoFr">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;500;600;700&display=block" rel="stylesheet">


  <meta property="og:title" content="Trekorama!" />
  <meta property="og:description" content="360° of Star Trek" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://mijofr.github.io/st-panorama" />

  <meta property="og:image" content="https://mijofr.github.io/st-panorama/images/thumbnail.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:alt" content="Trekorama!" />

  <style>
    html {
      background-color: #060606;
    }
    body {
      opacity: 0;
    }
  </style>
  <script>
    function onMapImgLoad($event) {
      $event.target.parentNode.parentNode.parentNode.classList.remove('faded');
    }
  </script>

</head>

<style id="hTag"></style>

<body>

  <div id="ana">
    <img src="https://st-panorama.goatcounter.com/count?p=/rec">
  </div>

  <svg id="defs">
    <defs>
      <symbol id="HLBOX" viewBox="0 0 4.2 3.8" overflow="visible">
        <path vector-effect="non-scaling-stroke" id="hlBoxPath"
          d="m-1.5-1.9c-0.33 2.2e-4 -0.6 0.27-0.6 0.6v2.6c2.2e-4 0.33 0.27 0.6 0.6 0.6h0.6v-0.4h-0.2c-0.22 2.2e-4 -0.4-0.18-0.4-0.4v-0.1h-0.4v-2h0.4v-0.099c-2.2e-4 -0.22 0.18-0.4 0.4-0.4h0.2v-0.4zm2.4 0v0.4h0.2c0.22-2.2e-4 0.4 0.18 0.4 0.4v0.099h0.4v2h-0.4v0.1c2.2e-4 0.22-0.18 0.4-0.4 0.4h-0.2v0.4h0.6c0.33-2.2e-4 0.6-0.27 0.6-0.6v-2.6c-2.2e-4 -0.33-0.27-0.6-0.6-0.6zm-2.6 1.1v0.4h0.2v-0.4zm3.2 0v0.4h0.2v-0.4zm-3.2 0.6v1h0.2v-1zm3.2 0v1h0.2v-1z"
          paint-order="stroke fill"></path>
      </symbol>
      <symbol id="CIRCLEMARK" class="circleMark" viewBox="0 0 1 1" overflow="visible">
        <circle class="circleMarkBg" r="0.6" />
        <circle class="circleMarkInner circleMarkPart" r="0.25" />
        <path class="circleMarkOuter circleMarkPart"
          fill="none" fill-opacity="0" stroke-width=".12"
          d="m-0.444-0.144a0.467 0.467 0 0 1 0.3-0.3m0.588 0.588a0.467 0.467 0 0 1-0.3 0.3m-0.289 1e-10a0.467 0.467 0 0 1-0.3-0.3m0.588-0.588a0.467 0.467 0 0 1 0.3 0.3" />
      </symbol>
    </defs>
    <use class="hlPoint" href="#HLBOX" id="hlPoint" x="3.2210" y="11.0054" width="0.11em" height="0.10em" />
  </svg>

  <a id="ghlink" href="https://github.com/mijofr/st-panorama"></a>

  <div id="page-wrap">
    <div id="bar">
      <div id="innerBar">
        {{> svgbar}}
      </div>
    </div>
        <div id="main">
            <div id="psvContainer1">
                <div id="psvContainer2">
                    <div id="psvCosmeticFrame">
                        <div id="psvCosmeticInner1"></div>
                        <div id="psvCosmeticInner2"></div>
                        <div id="psvButtons" class="hidden">
                            <!--<button onclick="indexClicked(this)" id="idxButton" type="button" class="visible" title="Index">INDEX</button> -->
                            <button onclick="downloadClicked(this)" id="dlButton" type="button" class="visible" title="Download"><div>IMAGE</div></button>
                            <button onclick="directLinkClicked(this)" id="lnkButton" type="button" class="visible" title="Direct Link"><div>LINK</div></button>
                            <button onclick="fullscreenClicked(this)" id="fsButton" type="button" class="visible rounded" title="Fullscreen"><div>FULLSCRN</div></button>
                            <button onclick="alrtClicked(this)" type="button" id="alertButton" class="red redAlert invisible rounded" title="Red Alert"><div>RED<br />ALERT</div></button>
                        </div>
                        <div id="psvTitle">
                            <span id="titleLeft">
                              <span id="titleLeftMain" class="invisible">HELLO</span>
                              <span id="titleLeftSub" class="invisible">(WORLD)</span>
                            </span>
                            <div class="spacer"></div>
                            <span id="titleRight">
                              <span id="titleRightMain" class="invisible">HELLO</span>
                              <span id="titleRightSub" class="invisible">(WORLD)</span>
                            </span>
                        </div>
                    </div>
                    <div id="psvMain">
                      <div id="photosphere">
                      </div>
                    </div>
                    <div id="bodyText" class="sno-display">
                        <p>Aliquam nulla felis, luctus ut ullamcorper eget, ultricies sed mi. Duis gravida massa vitae purus sodales, sit amet aliquet sem varius.</p>
                        <p>Nullam varius mi vitae felis imperdiet, ac pharetra nulla porttitor. Duis porttitor enim leo, id pulvinar orci ornare non. Praesent dapibus ante rutrum lacus eleifend egestas. Aliquam fringilla mauris non commodo placerat.</p>
                        <p>Nulla facilisi. Curabitur ut odio consectetur, egestas tortor quis, aliquet velit. Fusce fringilla neque at ultrices consectetur. Nam aliquam arcu in sem convallis, quis pretium tellus consequat.</p>
                        <p>
                          <button type="button" onclick="scrollBarTo('GRP_TOSENT');">USS Enterprise</button>
                          <button type="button" onclick="scrollBarTo('GRP_BOP');">Bird of Prey (D12)</button>
                          <button type="button" onclick="scrollBarTo('GRP_TNG');">USS Enterprise-D</button>
                          <button type="button" onclick="scrollBarTo('GRP_ENTE');">USS Enterprise-E</button>
                          <button type="button" onclick="scrollBarTo('GRP_DEFIANT');">USS Defiant</button>
                          <button type="button" onclick="scrollBarTo('GRP_VOYAGER');">USS Voyager</button>
                          <button type="button" onclick="scrollBarTo('GRP_JJTREK');">USS Enterprise (Kelvin)</button>
                          <button type="button" onclick="scrollBarTo('GRP_DISCO');">USS Discovery (2256)</button>
                          <button type="button" onclick="scrollBarTo('GRP_SPACESTATION');">ISS</button>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>

  </div>


</body>

</html>