<div class="groupContainer" id="GRP_TOSENT">
    <div class="topTitle">
        <div>USS Enterprise</div>
    </div>
    <div class="groupInnerContainer">
        <span class="planContainer" id="PLN_TOS">
            <div class="sTitle">
                <div>
                    <div>Main Bridge</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_TOS" viewBox="0 0 12.6700 14.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_TOS">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/tos.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_TOS)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_00">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.2939" y="6.0357" width="0.11em" height="0.11em" id="TOS_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.0944" y="7.5637" width="0.11em" height="0.11em" id="TOS_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.7258" y="7.5941" width="0.11em" height="0.11em" id="TOS_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.3455" y="11.2912" width="0.11em" height="0.11em" id="TOS_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.2732" y="9.0804" width="0.11em" height="0.11em" id="TOS_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.2550" y="6.5263" width="0.11em" height="0.11em" id="TOS_05" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.8070" y="4.3008" width="0.11em" height="0.11em" id="TOS_06" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.4546" y="3.3535" width="0.11em" height="0.11em" id="TOS_07" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="9.4857" y="3.5382" width="0.11em" height="0.11em" id="TOS_08" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="10.5812" y="6.4436" width="0.11em" height="0.11em" id="TOS_09" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="10.6177" y="9.2212" width="0.11em" height="0.11em" id="TOS_10" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="9.5404" y="10.9032" width="0.11em" height="0.11em" id="TOS_11" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.7000" y="11.6000" width="0.11em" height="0.11em" id="TOS_12" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.3713" y="8.9092" width="0.11em" height="0.11em" id="TOS_13" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.2210" y="11.0054" width="0.11em" height="0.11em" id="TOS_14" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
    </div>
</div>
<div class="groupContainer" id="GRP_BOP">
    <div class="topTitle">
        <div>Bird of Prey<span>(D12)</span></div>
    </div>
    <div class="groupInnerContainer">
        <span class="planContainer" id="PLN_KBOP">
            <div class="sTitle">
                <div>
                    <div>Bridge</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_KBOP" viewBox="0 0 9.8000 12.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_KBOP">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/kbop.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_KBOP)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_01">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.0375" y="1.2219" width="0.11em" height="0.11em" id="KLING_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.0283" y="3.8261" width="0.11em" height="0.11em" id="KLING_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.0253" y="6.2435" width="0.11em" height="0.11em" id="KLING_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.1238" y="6.8780" width="0.11em" height="0.11em" id="KLING_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.1479" y="7.7983" width="0.11em" height="0.11em" id="KLING_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.4812" y="4.6183" width="0.11em" height="0.11em" id="KLING_05" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.9580" y="9.3260" width="0.11em" height="0.11em" id="KLING_06" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.1418" y="9.8035" width="0.11em" height="0.11em" id="KLING_07" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.0650" y="10.8804" width="0.11em" height="0.11em" id="KLING_08" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.9119" y="9.7789" width="0.11em" height="0.11em" id="KLING_09" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.6696" y="5.8084" width="0.11em" height="0.11em" id="KLING_10" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
    </div>
</div>
<div class="groupContainer" id="GRP_TNG">
    <div class="topTitle">
        <div>USS Enterprise-D</div>
    </div>
    <div class="groupInnerContainer">
        <span class="planContainer" id="PLN_ENTD">
            <div class="sTitle">
                <div>
                    <div>Deck One</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_ENTD" viewBox="0 0 18.5891 24.1642" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_ENTD">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/entd.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_ENTD)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_02">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="11.8722" y="16.6018" width="0.11em" height="0.11em" id="ENTD_BRIDGE_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="11.8722" y="14.5879" width="0.11em" height="0.11em" id="ENTD_BRIDGE_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.1683" y="12.3334" width="0.11em" height="0.11em" id="ENTD_BRIDGE_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="10.4544" y="12.2327" width="0.11em" height="0.11em" id="ENTD_BRIDGE_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="8.8927" y="12.1363" width="0.11em" height="0.11em" id="ENTD_BRIDGE_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.1730" y="12.0655" width="0.11em" height="0.11em" id="ENTD_BRIDGE_05" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.5980" y="13.4752" width="0.11em" height="0.11em" id="ENTD_BRIDGE_06" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.4684" y="16.5505" width="0.11em" height="0.11em" id="ENTD_BRIDGE_07" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.7645" y="19.0335" width="0.11em" height="0.11em" id="ENTD_BRIDGE_08" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="8.8742" y="20.0546" width="0.11em" height="0.11em" id="ENTD_BRIDGE_09" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.2423" y="19.0400" width="0.11em" height="0.11em" id="ENTD_BRIDGE_10" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="8.8927" y="16.8225" width="0.11em" height="0.11em" id="ENTD_BRIDGE_11" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="8.8557" y="13.9944" width="0.11em" height="0.11em" id="ENTD_BRIDGE_12" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="11.2430" y="11.4808" width="0.11em" height="0.11em" id="ENTD_BRIDGE_13" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.4164" y="5.5928" width="0.11em" height="0.11em" id="ENTD_CONFERENCE_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="9.0781" y="5.0024" width="0.11em" height="0.11em" id="ENTD_CONFERENCE_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.6898" y="5.6322" width="0.11em" height="0.11em" id="ENTD_CONFERENCE_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.0094" y="2.7727" width="0.11em" height="0.11em" id="ENTD_CONFERENCE_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.8794" y="2.8197" width="0.11em" height="0.11em" id="ENTD_CONFERENCE_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="8.9811" y="1.1862" width="0.11em" height="0.11em" id="ENTD_CONFERENCE_05" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="14.2047" y="17.4897" width="0.11em" height="0.11em" id="ENTD_READYROOM_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="16.0187" y="17.9848" width="0.11em" height="0.11em" id="ENTD_READYROOM_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="15.1995" y="16.0462" width="0.11em" height="0.11em" id="ENTD_READYROOM_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="15.6695" y="14.6885" width="0.11em" height="0.11em" id="ENTD_READYROOM_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="17.0718" y="15.6793" width="0.11em" height="0.11em" id="ENTD_READYROOM_04" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_ENG">
            <div class="sTitle">
                <div>
                    <div>Engineering</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_ENG" viewBox="0 0 11.9701 20.9812" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_ENG">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/eng.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_ENG)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_03">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.2472" y="19.6648" width="0.11em" height="0.11em" id="ENTD_ENGINEERING_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.7695" y="17.1000" width="0.11em" height="0.11em" id="ENTD_ENGINEERING_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="8.8836" y="17.1000" width="0.11em" height="0.11em" id="ENTD_ENGINEERING_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.2728" y="12.0154" width="0.11em" height="0.11em" id="ENTD_ENGINEERING_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.3138" y="10.1092" width="0.11em" height="0.11em" id="ENTD_ENGINEERING_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.6942" y="9.6323" width="0.11em" height="0.11em" id="ENTD_ENGINEERING_05" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.0781" y="8.5674" width="0.11em" height="0.11em" id="ENTD_ENGINEERING_06" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.2456" y="8.2370" width="0.11em" height="0.11em" id="ENTD_ENGINEERING_07" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.7617" y="7.5611" width="0.11em" height="0.11em" id="ENTD_ENGINEERING_08" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.0851" y="4.6747" width="0.11em" height="0.11em" id="ENTD_ENGINEERING_09" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="11.4921" y="5.3067" width="0.11em" height="0.11em" id="ENTD_ENGINEERING_10" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_SICKBAY">
            <div class="sTitle">
                <div>
                    <div>Sickbay</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_SICKBAY" viewBox="0 0 12.9350 16.0041" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_SICKBAY">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/sickbay.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_SICKBAY)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_04">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.6367" y="12.9647" width="0.11em" height="0.11em" id="ENTD_SICKBAY_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.4973" y="13.0665" width="0.11em" height="0.11em" id="ENTD_SICKBAY_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="8.8923" y="13.9001" width="0.11em" height="0.11em" id="ENTD_SICKBAY_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="9.0587" y="11.9395" width="0.11em" height="0.11em" id="ENTD_SICKBAY_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="9.3747" y="7.9831" width="0.11em" height="0.11em" id="ENTD_SICKBAY_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.1294" y="8.1846" width="0.11em" height="0.11em" id="ENTD_SICKBAY_05" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.6533" y="5.1596" width="0.11em" height="0.11em" id="ENTD_SICKBAY_06" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.3165" y="3.4817" width="0.11em" height="0.11em" id="ENTD_SICKBAY_07" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="9.1252" y="3.1012" width="0.11em" height="0.11em" id="ENTD_SICKBAY_08" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="10.7218" y="4.1676" width="0.11em" height="0.11em" id="ENTD_SICKBAY_09" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="11.3538" y="2.7558" width="0.11em" height="0.11em" id="ENTD_SICKBAY_10" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_TENFORWARD">
            <div class="sTitle">
                <div>
                    <div>Ten-Forward Lounge</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_TENFORWARD" viewBox="0 0 17.9379 21.8900" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_TENFORWARD">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/tenforward.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_TENFORWARD)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_05">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="10.5754" y="10.9541" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="13.9485" y="16.7454" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.8241" y="13.5414" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="14.0808" y="5.1124" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="8.5911" y="14.6075" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="8.5059" y="7.6632" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_05" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="8.3927" y="4.4958" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_06" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.1849" y="9.2949" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_07" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.3172" y="13.2673" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_08" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="15.5359" y="11.1216" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_09" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.6148" y="1.9650" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_10" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.8794" y="18.1072" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_11" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="13.6178" y="8.3885" width="0.11em" height="0.11em" id="ENTD_TENFORWARD_12" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_TRANSP">
            <div class="sTitle">
                <div>
                    <div>Transporter Room 3</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_TRANSP" viewBox="0 0 8.1097 10.4560" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_TRANSP">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/transp.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_TRANSP)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_06">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.9968" y="9.4297" width="0.11em" height="0.11em" id="ENTD_TRANSPORTER_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.4561" y="6.2230" width="0.11em" height="0.11em" id="ENTD_TRANSPORTER_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.9063" y="5.7295" width="0.11em" height="0.11em" id="ENTD_TRANSPORTER_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.4428" y="2.4550" width="0.11em" height="0.11em" id="ENTD_TRANSPORTER_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="1.6402" y="7.5915" width="0.11em" height="0.11em" id="ENTD_TRANSPORTER_04" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_PICARD">
            <div class="sTitle">
                <div>
                    <div>Cpt Picard's Quarters</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_PICARD" viewBox="0 0 6.2054 14.7160" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_PICARD">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/picard.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_PICARD)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_07">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.2573" y="8.9500" width="0.11em" height="0.11em" id="ENTD_PICARDQUARTERS_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="1.8354" y="8.3629" width="0.11em" height="0.11em" id="ENTD_PICARDQUARTERS_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.5848" y="6.8641" width="0.11em" height="0.11em" id="ENTD_PICARDQUARTERS_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.0895" y="5.3172" width="0.11em" height="0.11em" id="ENTD_PICARDQUARTERS_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.2259" y="12.2364" width="0.11em" height="0.11em" id="ENTD_PICARDQUARTERS_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.3039" y="10.5240" width="0.11em" height="0.11em" id="ENTD_PICARDQUARTERS_05" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="1.8364" y="10.4499" width="0.11em" height="0.11em" id="ENTD_PICARDQUARTERS_06" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.7499" y="10.4523" width="0.11em" height="0.11em" id="ENTD_PICARDQUARTERS_07" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_TROI">
            <div class="sTitle">
                <div>
                    <div>Cns Troi's Quarters</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_TROI" viewBox="0 0 6.2184 11.9610" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_TROI">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/troi.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_TROI)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_08">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.7033" y="1.7467" width="0.11em" height="0.11em" id="ENTD_TROIQUARTERS_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.3184" y="3.6318" width="0.11em" height="0.11em" id="ENTD_TROIQUARTERS_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.1426" y="2.8659" width="0.11em" height="0.11em" id="ENTD_TROIQUARTERS_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.1047" y="5.1572" width="0.11em" height="0.11em" id="ENTD_TROIQUARTERS_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.1688" y="6.7002" width="0.11em" height="0.11em" id="ENTD_TROIQUARTERS_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="0.9027" y="4.2240" width="0.11em" height="0.11em" id="ENTD_TROIQUARTERS_05" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.5584" y="3.5009" width="0.11em" height="0.11em" id="ENTD_TROIQUARTERS_06" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_DATA">
            <div class="sTitle">
                <div>
                    <div>Lt Data's Quarters</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_DATA" viewBox="0 0 6.4388 8.5038" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_DATA">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/data.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_DATA)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_09">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.8241" y="2.6861" width="0.11em" height="0.11em" id="ENTD_DATAQUARTERS_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.2915" y="2.6785" width="0.11em" height="0.11em" id="ENTD_DATAQUARTERS_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.5867" y="2.7054" width="0.11em" height="0.11em" id="ENTD_DATAQUARTERS_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.3284" y="4.5575" width="0.11em" height="0.11em" id="ENTD_DATAQUARTERS_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.4145" y="7.0985" width="0.11em" height="0.11em" id="ENTD_DATAQUARTERS_04" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_WORF">
            <div class="sTitle">
                <div>
                    <div>Lt Worf's Quarters</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_WORF" viewBox="0 0 8.5674 13.9098" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_WORF">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/worf.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_WORF)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_10">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.9718" y="8.1444" width="0.11em" height="0.11em" id="ENTD_WORFQUARTERS_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.3446" y="8.1126" width="0.11em" height="0.11em" id="ENTD_WORFQUARTERS_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.9844" y="8.0982" width="0.11em" height="0.11em" id="ENTD_WORFQUARTERS_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.2225" y="10.1590" width="0.11em" height="0.11em" id="ENTD_WORFQUARTERS_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.1855" y="11.8665" width="0.11em" height="0.11em" id="ENTD_WORFQUARTERS_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="1.2643" y="11.7943" width="0.11em" height="0.11em" id="ENTD_WORFQUARTERS_05" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_TYPE6">
            <div class="sTitle">
                <div>
                    <div>Type 6 Shuttlecraft</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_TYPE6" viewBox="0 0 7.0000 2.8000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_TYPE6">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/type6.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_TYPE6)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_11">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.5000" y="1.4000" width="0.11em" height="0.11em" id="ENTD_SHUTTLE" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_CLAPPER">
            <div class="sTitle">
                <div>
                    <div>Behind the Scenes</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_CLAPPER" viewBox="0 0 3.0000 3.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_CLAPPER">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/clapper.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_CLAPPER)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_12">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="1.5000" y="2.0000" width="0.11em" height="0.11em" id="ENTD_BTS" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
    </div>
</div>
<div class="groupContainer" id="GRP_ENTE">
    <div class="topTitle">
        <div>USS Enterprise-E</div>
    </div>
    <div class="groupInnerContainer">
        <span class="planContainer" id="PLN_EE">
            <div class="sTitle">
                <div>
                    <div>Bridge</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_EE" viewBox="0 0 14.7000 14.2000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_EE">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/ee.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_EE)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_13">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.4697" y="2.8751" width="0.11em" height="0.11em" id="ENTE_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.3399" y="2.1610" width="0.11em" height="0.11em" id="ENTE_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="9.9532" y="2.8444" width="0.11em" height="0.11em" id="ENTE_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="10.7679" y="4.6055" width="0.11em" height="0.11em" id="ENTE_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.7513" y="6.3826" width="0.11em" height="0.11em" id="ENTE_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="11.8910" y="10.5276" width="0.11em" height="0.11em" id="ENTE_05" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.3841" y="10.6748" width="0.11em" height="0.11em" id="ENTE_06" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.3278" y="8.5297" width="0.11em" height="0.11em" id="ENTE_07" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.7020" y="7.3711" width="0.11em" height="0.11em" id="ENTE_08" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.0381" y="5.0875" width="0.11em" height="0.11em" id="ENTE_09" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.3575" y="6.4850" width="0.11em" height="0.11em" id="ENTE_10" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.3532" y="4.6485" width="0.11em" height="0.11em" id="ENTE_11" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
    </div>
</div>
<div class="groupContainer" id="GRP_DEFIANT">
    <div class="topTitle">
        <div>USS Defiant</div>
    </div>
    <div class="groupInnerContainer">
        <span class="planContainer" id="PLN_DEF">
            <div class="sTitle">
                <div>
                    <div>Deck One</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_DEF" viewBox="0 0 10.0000 21.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_DEF">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/def.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_DEF)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_14">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.7241" y="14.4594" width="0.11em" height="0.11em" id="DEF_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.7428" y="17.1619" width="0.11em" height="0.11em" id="DEF_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.8020" y="19.0739" width="0.11em" height="0.11em" id="DEF_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.2465" y="17.7176" width="0.11em" height="0.11em" id="DEF_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.3655" y="15.5684" width="0.11em" height="0.11em" id="DEF_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.2649" y="17.6872" width="0.11em" height="0.11em" id="DEF_05" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="2.1827" y="15.6125" width="0.11em" height="0.11em" id="DEF_06" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.2011" y="13.1013" width="0.11em" height="0.11em" id="DEF_07" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.1724" y="13.0755" width="0.11em" height="0.11em" id="DEF_08" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.6305" y="12.0686" width="0.11em" height="0.11em" id="DEF_09" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.6398" y="10.8935" width="0.11em" height="0.11em" id="DEF_10" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.6403" y="12.0824" width="0.11em" height="0.11em" id="DEF_11" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.7802" y="5.3292" width="0.11em" height="0.11em" id="DEF_12" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.9000" y="0.7157" width="0.11em" height="0.11em" id="DEF_13" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.9431" y="15.0511" width="0.11em" height="0.11em" id="DEF_15" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
    </div>
</div>
<div class="groupContainer" id="GRP_VOYAGER">
    <div class="topTitle">
        <div>USS Voyager</div>
    </div>
    <div class="groupInnerContainer">
        <span class="planContainer" id="PLN_VOY">
            <div class="sTitle">
                <div>
                    <div>Deck One</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_VOY" viewBox="0 0 26.2289 13.3881" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_VOY">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/voy.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_VOY)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_15">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.6694" y="4.2234" width="0.11em" height="0.11em" id="VOY_BRIDGE_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="14.6519" y="3.2158" width="0.11em" height="0.11em" id="VOY_BRIDGE_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="9.5964" y="4.8846" width="0.11em" height="0.11em" id="VOY_BRIDGE_02" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.8517" y="4.7295" width="0.11em" height="0.11em" id="VOY_BRIDGE_03" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.4156" y="9.5110" width="0.11em" height="0.11em" id="VOY_BRIDGE_04" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="11.7772" y="5.5295" width="0.11em" height="0.11em" id="VOY_BRIDGE_05" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.7090" y="10.3506" width="0.11em" height="0.11em" id="VOY_BRIDGE_06" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="17.8835" y="9.5412" width="0.11em" height="0.11em" id="VOY_BRIDGE_07" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="17.7844" y="6.8088" width="0.11em" height="0.11em" id="VOY_BRIDGE_08" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.6535" y="6.7131" width="0.11em" height="0.11em" id="VOY_BRIDGE_09" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.6297" y="12.2480" width="0.11em" height="0.11em" id="VOY_BRIDGE_10" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.5703" y="7.4536" width="0.11em" height="0.11em" id="VOY_BRIDGE_11" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="17.5266" y="4.7807" width="0.11em" height="0.11em" id="VOY_BRIDGE_12" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="25.0802" y="5.5177" width="0.11em" height="0.11em" id="VOY_CONFERENCE_14" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="23.2166" y="3.1024" width="0.11em" height="0.11em" id="VOY_CONFERENCE_15" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="19.9057" y="5.6832" width="0.11em" height="0.11em" id="VOY_CONFERENCE_16" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="22.5029" y="8.3434" width="0.11em" height="0.11em" id="VOY_CONFERENCE_17" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="1.9579" y="4.3715" width="0.11em" height="0.11em" id="VOY_READYROOM_18" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="0.7882" y="6.3377" width="0.11em" height="0.11em" id="VOY_READYROOM_19" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.6828" y="8.3237" width="0.11em" height="0.11em" id="VOY_READYROOM_20" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.3680" y="5.1947" width="0.11em" height="0.11em" id="VOY_READYROOM_21" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.7605" y="1.0847" width="0.11em" height="0.11em" id="VOY_TURBOLIFT_13" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_VOY_SICKBAY">
            <div class="sTitle">
                <div>
                    <div>Sickbay / Deck 5</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_VOY_SICKBAY" viewBox="0 0 24.0000 16.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_VOY_SICKBAY">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/VOY_SICKBAY.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_VOY_SICKBAY)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_16">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.5000" y="5.4000" width="0.11em" height="0.11em" id="VOY_TREATMENT" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="7.0000" y="9.5000" width="0.11em" height="0.11em" id="VOY_DOC_OFFICE" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="11.5000" y="5.8000" width="0.11em" height="0.11em" id="VOY_HALL" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="21.5000" y="2.7000" width="0.11em" height="0.11em" id="VOY_HOLODECK_DOOR" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_VOY_TRANSP">
            <div class="sTitle">
                <div>
                    <div>Transporter Room</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_VOY_TRANSP" viewBox="0 0 7.1500 10.4000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_VOY_TRANSP">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/VOY_TRANSP.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_VOY_TRANSP)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_17">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.3800" y="1.7000" width="0.11em" height="0.11em" id="VOY_TRANSPORTER_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="4.3800" y="8.0000" width="0.11em" height="0.11em" id="VOY_TRANSPORTER_01" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_VOY_ENG">
            <div class="sTitle">
                <div>
                    <div>Engineering</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_VOY_ENG" viewBox="0 0 25.0000 19.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_VOY_ENG">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/VOY_ENG.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_VOY_ENG)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_18">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="8.2000" y="8.9000" width="0.11em" height="0.11em" id="VOY_ENGINEERING_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="22.1000" y="15.0000" width="0.11em" height="0.11em" id="VOY_ENGINEERING_01" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_VOY_MESS">
            <div class="sTitle">
                <div>
                    <div>Mess Hall</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_VOY_MESS" viewBox="0 0 13.0000 11.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_VOY_MESS">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/VOY_MESS.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_VOY_MESS)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_19">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.6000" y="6.7500" width="0.11em" height="0.11em" id="VOY_MESS" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
    </div>
</div>
<div class="groupContainer" id="GRP_JJTREK">
    <div class="topTitle">
        <div>USS Enterprise<span>(Kelvin)</span></div>
    </div>
    <div class="groupInnerContainer">
        <span class="planContainer" id="PLN_JJ">
            <div class="sTitle">
                <div>
                    <div>Bridge</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_JJ" viewBox="0 0 18.0000 14.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_JJ">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/JJ.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_JJ)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_20">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="8.0000" y="4.2000" width="0.11em" height="0.11em" id="KENT_BRIDGE_00" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_JJHALL">
            <div class="sTitle">
                <div>
                    <div>Corridor</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_JJHALL" viewBox="0 0 21.0000 10.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_JJHALL">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/JJhall.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_JJHALL)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_21">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="5.1800" y="4.9700" width="0.11em" height="0.11em" id="KENT_HALL_01" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="14.3200" y="3.6400" width="0.11em" height="0.11em" id="KENT_HALL_00" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
    </div>
</div>
<div class="groupContainer" id="GRP_DISCO">
    <div class="topTitle">
        <div>USS Discovery<span>(2256)</span></div>
    </div>
    <div class="groupInnerContainer">
        <span class="planContainer" id="PLN_DISCO_BRIDGE">
            <div class="sTitle">
                <div>
                    <div>Bridge</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_DISCO_BRIDGE" viewBox="0 0 20.7500 19.4050" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_DISCO_BRIDGE">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/disco_bridge.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_DISCO_BRIDGE)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_22">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="3.5640" y="11.0000" width="0.11em" height="0.11em" id="DISCO_BRIDGE_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="14.1580" y="11.0000" width="0.11em" height="0.11em" id="DISCO_BRIDGE_01" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_DISCO_TRANSP">
            <div class="sTitle">
                <div>
                    <div>Transporter Room</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_DISCO_TRANSP" viewBox="0 0 16.4000 13.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_DISCO_TRANSP">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/disco_transp.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_DISCO_TRANSP)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_23">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="11.8000" y="6.5000" width="0.11em" height="0.11em" id="DISCO_TRANSP_00" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.0000" y="8.4550" width="0.11em" height="0.11em" id="DISCO_TRANSP_01" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_DISCO_MESS">
            <div class="sTitle">
                <div>
                    <div>Mess Hall</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_DISCO_MESS" viewBox="0 0 22.3500 12.6000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_DISCO_MESS">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/disco_mess.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_DISCO_MESS)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_24">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="13.2800" y="6.2800" width="0.11em" height="0.11em" id="DISCO_MESS" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
        <span class="planContainer" id="PLN_DISCO_HALL">
            <div class="sTitle">
                <div>
                    <div>Corridor</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_DISCO_HALL" viewBox="0 0 16.7000 8.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_DISCO_HALL">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/disco_hall.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_DISCO_HALL)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_25">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="6.4300" y="4.7200" width="0.11em" height="0.11em" id="DISCO_HALL" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
    </div>
</div>
<div class="groupContainer" id="GRP_SPACESTATION">
    <div class="topTitle">
        <div>ISS</div>
    </div>
    <div class="groupInnerContainer">
        <span class="planContainer" id="PLN_ISS">
            <div class="sTitle">
                <div>
                    <div>Station (1/3 SCALE)</div>
                </div>
            </div>
            <svg class="mapBox faded" id="SVGMAP_PLN_ISS" viewBox="0 0 25.0000 18.3300" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="MAPMASK_PLN_ISS">
                        <image onload="onMapImgLoad(event)" class="mapPlanImg" xlink:href="./panorama-assets/rooms/iss.svg" y="0" x="0" height="100%" width="100%" />
                    </mask>
                </defs>
                <rect class="mapColorRect" x="0" y="0" width="100%" height="100%" mask="url(#MAPMASK_PLN_ISS)" />
                <g class="cameraPointPlanGroup cameraPointPlanGroup_26">
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.5000" y="13.4800" width="0.11em" height="0.11em" id="ISS_ZARYA" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.5000" y="8.6800" width="0.11em" height="0.11em" id="ISS_DESTINY" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.5000" y="10.5200" width="0.11em" height="0.11em" id="ISS_UNITY" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="14.1600" y="6.5700" width="0.11em" height="0.11em" id="ISS_KIBO" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="11.2200" y="6.5700" width="0.11em" height="0.11em" id="ISS_COLUMBUS" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="14.0300" y="10.5200" width="0.11em" height="0.11em" id="ISS_TRANQUILITY" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.5000" y="6.5700" width="0.11em" height="0.11em" id="ISS_HARMONY" onclick="cclick(evt)" />
                    <use class="cameraPoint" href="#CIRCLEMARK" x="12.5000" y="17.5200" width="0.11em" height="0.11em" id="ISS_ZVEZDA" onclick="cclick(evt)" />
                </g>
            </svg>
        </span>
    </div>
</div>