<div class="groupContainer">
    <div class="topTitle">
        <div>USS Enterprise</div>
    </div>
    <div class="groupInnerContainer">
        <div class="sTitle">
            <div>
                <div>Main Bridge</div>
            </div>
        </div>
        <svg class="mapBox" id="SVGMAP_USS_ENTERPRISE_MAIN_BRIDGE" viewBox="0 0 13.0000 14.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <image class="mapPlanImg" xlink:href="./panorama-assets/rooms/tos.png" y="0" x="0" height="100%" width="100%" />
            <circle class="cameraPoint" cx="6.2939" cy="6.0357" r="0.04em" id="TOS_00" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="7.0944" cy="7.5637" r="0.04em" id="TOS_01" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="5.7258" cy="7.5941" r="0.04em" id="TOS_02" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="6.3455" cy="11.2912" r="0.04em" id="TOS_03" onclick="cclick(evt)" />
        </svg>
    </div>
</div>
<div class="groupContainer">
    <div class="topTitle">
        <div>USS Enterprise-D</div>
    </div>
    <div class="groupInnerContainer">
        <div class="sTitle">
            <div>
                <div>Deck One</div>
            </div>
        </div>
        <svg class="mapBox" id="SVGMAP_USS_ENTERPRISE-D_DECK_ONE" viewBox="0 0 18.5891 24.1642" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <image class="mapPlanImg" xlink:href="./panorama-assets/rooms/entd.png" y="0" x="0" height="100%" width="100%" />
            <circle class="cameraPoint" cx="11.8722" cy="16.6018" r="0.04em" id="ENTD_BRIDGE_00" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="11.8722" cy="14.5879" r="0.04em" id="ENTD_BRIDGE_01" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="12.1683" cy="12.3334" r="0.04em" id="ENTD_BRIDGE_02" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="10.4544" cy="12.2327" r="0.04em" id="ENTD_BRIDGE_03" onclick="cclick(evt)" />
        </svg>
        <div class="sTitle">
            <div>
                <div>Engineering</div>
            </div>
        </div>
        <svg class="mapBox" id="SVGMAP_USS_ENTERPRISE-D_ENGINEERING" viewBox="0 0 11.9701 20.9812" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <image class="mapPlanImg" xlink:href="./panorama-assets/rooms/eng.png" y="0" x="0" height="100%" width="100%" />
            <circle class="cameraPoint" cx="7.2472" cy="19.6648" r="0.04em" id="ENTD_ENGINEERING_00" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="5.7695" cy="17.1000" r="0.04em" id="ENTD_ENGINEERING_01" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="8.8836" cy="17.1000" r="0.04em" id="ENTD_ENGINEERING_02" onclick="cclick(evt)" />
        </svg>
    </div>
</div>
<div class="groupContainer">
    <div class="topTitle">
        <div>USS Enterprise-E</div>
    </div>
    <div class="groupInnerContainer">
        <div class="sTitle">
            <div>
                <div>Bridge</div>
            </div>
        </div>
        <svg class="mapBox" id="SVGMAP_USS_ENTERPRISE-E_BRIDGE" viewBox="0 0 15.0000 15.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <image class="mapPlanImg" xlink:href="./panorama-assets/rooms/ee.png" y="0" x="0" height="100%" width="100%" />
            <circle class="cameraPoint" cx="4.6197" cy="3.2751" r="0.04em" id="ENTE_00" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="7.4899" cy="2.5610" r="0.04em" id="ENTE_01" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="10.1032" cy="3.2444" r="0.04em" id="ENTE_02" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="10.9179" cy="5.0055" r="0.04em" id="ENTE_03" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="12.9013" cy="6.7826" r="0.04em" id="ENTE_04" onclick="cclick(evt)" />
        </svg>
    </div>
</div>
<div class="groupContainer">
    <div class="topTitle">
        <div>USS Enterprise (Kelvin)</div>
    </div>
    <div class="groupInnerContainer">
        <div class="sTitle">
            <div>
                <div>Bridge</div>
            </div>
        </div>
        <svg class="mapBox" id="SVGMAP_USS_ENTERPRISE_KELVIN_BRIDGE" viewBox="0 0 18.0000 14.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <image class="mapPlanImg" xlink:href="./panorama-assets/rooms/JJ.png" y="0" x="0" height="100%" width="100%" />
            <circle class="cameraPoint" cx="8.0000" cy="4.2000" r="0.04em" id="KENT_BRIDGE_00" onclick="cclick(evt)" />
        </svg>
        <div class="sTitle">
            <div>
                <div>Corridor</div>
            </div>
        </div>
        <svg class="mapBox" id="SVGMAP_USS_ENTERPRISE_KELVIN_CORRIDOR" viewBox="0 0 22.0000 11.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <image class="mapPlanImg" xlink:href="./panorama-assets/rooms/JJhall.png" y="0" x="0" height="100%" width="100%" />
            <circle class="cameraPoint" cx="5.7600" cy="5.5900" r="0.04em" id="KENT_HALL_01" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="14.9000" cy="4.2600" r="0.04em" id="KENT_HALL_00" onclick="cclick(evt)" />
        </svg>
    </div>
</div>
<div class="groupContainer">
    <div class="topTitle">
        <div>ISS</div>
    </div>
    <div class="groupInnerContainer">
        <div class="sTitle">
            <div>
                <div>Station (1/3 SCALE)</div>
            </div>
        </div>
        <svg class="mapBox" id="SVGMAP_ISS_STATION_13_SCALE" viewBox="0 0 25.0000 19.0000" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <image class="mapPlanImg" xlink:href="./panorama-assets/rooms/iss.png" y="0" x="0" height="100%" width="100%" />
            <circle class="cameraPoint" cx="12.5000" cy="13.4800" r="0.04em" id="ISS_ZARYA" onclick="cclick(evt)" />
            <circle class="cameraPoint" cx="12.5000" cy="8.6800" r="0.04em" id="ISS_DESTINY" onclick="cclick(evt)" />
        </svg>
    </div>
</div>