
$bg-color: #000;
$sb-track-color: #222;
$sb-thumb-color: #444;
$sb-thumb-hover-color: #555;
$sb-thumb-focus-color: #999;

$light-blue: #6095ad;
$dark-blue: #2e7fa5;

$title-grey: #999;

$alert-red: #C96046;
$alert-red-hover: #EF7053;

$camera-point: #70a8c1;