$trueblack: #000;
$black: #060606;

$grey-1: #0F0F0F;
$grey-2: #1E1E1E;
$grey-3: #3D3D3D;
$grey-4: #5E5E5E;
$grey-5: #6B6B6B;      // the 5s are closer in between
$grey-6: #7A7A7A;
$grey-7: #999999;
$grey-8: #B7B7B7;
$grey-9: #D6D6D6;

$white: #F4F4F4;
$truewhite: #fff;

$amber-2: #E27E3F;
$amber-3: #EA985D;
$amber-4: #EEAC7B;
$amber-5: #EDB790;
$amber-6: #EFC5A7;
$amber-7: #F2D5C1;
$amber-8: #F2E1D5;
$amber-9: #F2E9E3;


$blue-3: #2C6887;
$blue-4: #4180A3;
$blue-5: #528AA5;
$blue-6: #6795AD;
$blue-7: #93B3C4;
$blue-8: #C4D9E4;
$blue-9: #E3EFF4;

$purple-4: #906193;
$purple-5: #976999;
$purple-6: #AA7FAA;
$purple-7: #BE9BB4;
$purple-8: #CEB9C6;

$red-4: #CC3E28;
$red-5: #E05138;
$red-6: #E06147;
$red-7: #EF8773;
$red-8: #E59C8E;
