 #TOS_07 { animation-delay: 0.0000s; }
 #TOS_08 { animation-delay: 0.0100s; }
 #TOS_06 { animation-delay: 0.0200s; }
 #TOS_00 { animation-delay: 0.0300s; }
 #TOS_09 { animation-delay: 0.0400s; }
 #TOS_05 { animation-delay: 0.0500s; }
 #TOS_01 { animation-delay: 0.0600s; }
 #TOS_02 { animation-delay: 0.0700s; }
 #TOS_13 { animation-delay: 0.0800s; }
 #TOS_04 { animation-delay: 0.0900s; }
 #TOS_10 { animation-delay: 0.1000s; }
 #TOS_11 { animation-delay: 0.1100s; }
 #TOS_14 { animation-delay: 0.1200s; }
 #TOS_03 { animation-delay: 0.1300s; }
 #TOS_12 { animation-delay: 0.1400s; }
 #KLING_00 { animation-delay: 0.0000s; }
 #KLING_01 { animation-delay: 0.0136s; }
 #KLING_05 { animation-delay: 0.0273s; }
 #KLING_10 { animation-delay: 0.0409s; }
 #KLING_02 { animation-delay: 0.0545s; }
 #KLING_03 { animation-delay: 0.0682s; }
 #KLING_04 { animation-delay: 0.0818s; }
 #KLING_06 { animation-delay: 0.0955s; }
 #KLING_09 { animation-delay: 0.1091s; }
 #KLING_07 { animation-delay: 0.1227s; }
 #KLING_08 { animation-delay: 0.1364s; }
 #ENTD_CONFERENCE_05 { animation-delay: 0.0000s; }
 #ENTD_CONFERENCE_03 { animation-delay: 0.0060s; }
 #ENTD_CONFERENCE_04 { animation-delay: 0.0120s; }
 #ENTD_CONFERENCE_01 { animation-delay: 0.0180s; }
 #ENTD_CONFERENCE_00 { animation-delay: 0.0240s; }
 #ENTD_CONFERENCE_02 { animation-delay: 0.0300s; }
 #ENTD_BRIDGE_13 { animation-delay: 0.0360s; }
 #ENTD_BRIDGE_05 { animation-delay: 0.0420s; }
 #ENTD_BRIDGE_04 { animation-delay: 0.0480s; }
 #ENTD_BRIDGE_03 { animation-delay: 0.0540s; }
 #ENTD_BRIDGE_02 { animation-delay: 0.0600s; }
 #ENTD_BRIDGE_06 { animation-delay: 0.0660s; }
 #ENTD_BRIDGE_12 { animation-delay: 0.0720s; }
 #ENTD_BRIDGE_01 { animation-delay: 0.0780s; }
 #ENTD_READYROOM_03 { animation-delay: 0.0840s; }
 #ENTD_READYROOM_04 { animation-delay: 0.0900s; }
 #ENTD_READYROOM_02 { animation-delay: 0.0960s; }
 #ENTD_BRIDGE_07 { animation-delay: 0.1020s; }
 #ENTD_BRIDGE_00 { animation-delay: 0.1080s; }
 #ENTD_BRIDGE_11 { animation-delay: 0.1140s; }
 #ENTD_READYROOM_00 { animation-delay: 0.1200s; }
 #ENTD_READYROOM_01 { animation-delay: 0.1260s; }
 #ENTD_BRIDGE_08 { animation-delay: 0.1320s; }
 #ENTD_BRIDGE_10 { animation-delay: 0.1380s; }
 #ENTD_BRIDGE_09 { animation-delay: 0.1440s; }
 #ENTD_ENGINEERING_09 { animation-delay: 0.0000s; }
 #ENTD_ENGINEERING_10 { animation-delay: 0.0136s; }
 #ENTD_ENGINEERING_08 { animation-delay: 0.0273s; }
 #ENTD_ENGINEERING_07 { animation-delay: 0.0409s; }
 #ENTD_ENGINEERING_06 { animation-delay: 0.0545s; }
 #ENTD_ENGINEERING_05 { animation-delay: 0.0682s; }
 #ENTD_ENGINEERING_04 { animation-delay: 0.0818s; }
 #ENTD_ENGINEERING_03 { animation-delay: 0.0955s; }
 #ENTD_ENGINEERING_01 { animation-delay: 0.1091s; }
 #ENTD_ENGINEERING_02 { animation-delay: 0.1227s; }
 #ENTD_ENGINEERING_00 { animation-delay: 0.1364s; }
 #ENTD_SICKBAY_10 { animation-delay: 0.0000s; }
 #ENTD_SICKBAY_08 { animation-delay: 0.0136s; }
 #ENTD_SICKBAY_07 { animation-delay: 0.0273s; }
 #ENTD_SICKBAY_09 { animation-delay: 0.0409s; }
 #ENTD_SICKBAY_06 { animation-delay: 0.0545s; }
 #ENTD_SICKBAY_04 { animation-delay: 0.0682s; }
 #ENTD_SICKBAY_05 { animation-delay: 0.0818s; }
 #ENTD_SICKBAY_03 { animation-delay: 0.0955s; }
 #ENTD_SICKBAY_00 { animation-delay: 0.1091s; }
 #ENTD_SICKBAY_01 { animation-delay: 0.1227s; }
 #ENTD_SICKBAY_02 { animation-delay: 0.1364s; }
 #ENTD_TENFORWARD_10 { animation-delay: 0.0000s; }
 #ENTD_TENFORWARD_06 { animation-delay: 0.0115s; }
 #ENTD_TENFORWARD_03 { animation-delay: 0.0231s; }
 #ENTD_TENFORWARD_05 { animation-delay: 0.0346s; }
 #ENTD_TENFORWARD_12 { animation-delay: 0.0462s; }
 #ENTD_TENFORWARD_07 { animation-delay: 0.0577s; }
 #ENTD_TENFORWARD_00 { animation-delay: 0.0692s; }
 #ENTD_TENFORWARD_09 { animation-delay: 0.0808s; }
 #ENTD_TENFORWARD_08 { animation-delay: 0.0923s; }
 #ENTD_TENFORWARD_02 { animation-delay: 0.1038s; }
 #ENTD_TENFORWARD_04 { animation-delay: 0.1154s; }
 #ENTD_TENFORWARD_01 { animation-delay: 0.1269s; }
 #ENTD_TENFORWARD_11 { animation-delay: 0.1385s; }
 #ENTD_TRANSPORTER_03 { animation-delay: 0.0000s; }
 #ENTD_TRANSPORTER_02 { animation-delay: 0.0300s; }
 #ENTD_TRANSPORTER_01 { animation-delay: 0.0600s; }
 #ENTD_TRANSPORTER_04 { animation-delay: 0.0900s; }
 #ENTD_TRANSPORTER_00 { animation-delay: 0.1200s; }
 #ENTD_PICARDQUARTERS_03 { animation-delay: 0.0000s; }
 #ENTD_PICARDQUARTERS_02 { animation-delay: 0.0187s; }
 #ENTD_PICARDQUARTERS_01 { animation-delay: 0.0375s; }
 #ENTD_PICARDQUARTERS_00 { animation-delay: 0.0562s; }
 #ENTD_PICARDQUARTERS_06 { animation-delay: 0.0750s; }
 #ENTD_PICARDQUARTERS_07 { animation-delay: 0.0938s; }
 #ENTD_PICARDQUARTERS_05 { animation-delay: 0.1125s; }
 #ENTD_PICARDQUARTERS_04 { animation-delay: 0.1313s; }
 #ENTD_TROIQUARTERS_00 { animation-delay: 0.0000s; }
 #ENTD_TROIQUARTERS_02 { animation-delay: 0.0214s; }
 #ENTD_TROIQUARTERS_06 { animation-delay: 0.0429s; }
 #ENTD_TROIQUARTERS_01 { animation-delay: 0.0643s; }
 #ENTD_TROIQUARTERS_05 { animation-delay: 0.0857s; }
 #ENTD_TROIQUARTERS_03 { animation-delay: 0.1071s; }
 #ENTD_TROIQUARTERS_04 { animation-delay: 0.1286s; }
 #ENTD_DATAQUARTERS_01 { animation-delay: 0.0000s; }
 #ENTD_DATAQUARTERS_00 { animation-delay: 0.0300s; }
 #ENTD_DATAQUARTERS_02 { animation-delay: 0.0600s; }
 #ENTD_DATAQUARTERS_03 { animation-delay: 0.0900s; }
 #ENTD_DATAQUARTERS_04 { animation-delay: 0.1200s; }
 #ENTD_WORFQUARTERS_02 { animation-delay: 0.0000s; }
 #ENTD_WORFQUARTERS_01 { animation-delay: 0.0250s; }
 #ENTD_WORFQUARTERS_00 { animation-delay: 0.0500s; }
 #ENTD_WORFQUARTERS_03 { animation-delay: 0.0750s; }
 #ENTD_WORFQUARTERS_05 { animation-delay: 0.1000s; }
 #ENTD_WORFQUARTERS_04 { animation-delay: 0.1250s; }
 #ENTD_SHUTTLE { animation-delay: 0.0000s; }
 #ENTD_BTS { animation-delay: 0.0000s; }
 #ENTE_01 { animation-delay: 0.0000s; }
 #ENTE_02 { animation-delay: 0.0125s; }
 #ENTE_00 { animation-delay: 0.0250s; }
 #ENTE_03 { animation-delay: 0.0375s; }
 #ENTE_11 { animation-delay: 0.0500s; }
 #ENTE_09 { animation-delay: 0.0625s; }
 #ENTE_04 { animation-delay: 0.0750s; }
 #ENTE_10 { animation-delay: 0.0875s; }
 #ENTE_08 { animation-delay: 0.1000s; }
 #ENTE_07 { animation-delay: 0.1125s; }
 #ENTE_05 { animation-delay: 0.1250s; }
 #ENTE_06 { animation-delay: 0.1375s; }
 #DEF_14 { animation-delay: 0.0000s; }
 #DEF_13 { animation-delay: 0.0094s; }
 #DEF_12 { animation-delay: 0.0187s; }
 #DEF_10 { animation-delay: 0.0281s; }
 #DEF_09 { animation-delay: 0.0375s; }
 #DEF_11 { animation-delay: 0.0469s; }
 #DEF_08 { animation-delay: 0.0562s; }
 #DEF_07 { animation-delay: 0.0656s; }
 #DEF_00 { animation-delay: 0.0750s; }
 #DEF_15 { animation-delay: 0.0844s; }
 #DEF_04 { animation-delay: 0.0938s; }
 #DEF_06 { animation-delay: 0.1031s; }
 #DEF_01 { animation-delay: 0.1125s; }
 #DEF_05 { animation-delay: 0.1219s; }
 #DEF_03 { animation-delay: 0.1313s; }
 #DEF_02 { animation-delay: 0.1406s; }
 #VOY_TURBOLIFT_13 { animation-delay: 0.0000s; }
 #VOY_CONFERENCE_15 { animation-delay: 0.0068s; }
 #VOY_BRIDGE_01 { animation-delay: 0.0136s; }
 #VOY_BRIDGE_00 { animation-delay: 0.0205s; }
 #VOY_READYROOM_18 { animation-delay: 0.0273s; }
 #VOY_BRIDGE_03 { animation-delay: 0.0341s; }
 #VOY_BRIDGE_12 { animation-delay: 0.0409s; }
 #VOY_BRIDGE_02 { animation-delay: 0.0477s; }
 #VOY_READYROOM_21 { animation-delay: 0.0545s; }
 #VOY_CONFERENCE_14 { animation-delay: 0.0614s; }
 #VOY_BRIDGE_05 { animation-delay: 0.0682s; }
 #VOY_CONFERENCE_16 { animation-delay: 0.0750s; }
 #VOY_READYROOM_19 { animation-delay: 0.0818s; }
 #VOY_BRIDGE_09 { animation-delay: 0.0886s; }
 #VOY_BRIDGE_08 { animation-delay: 0.0955s; }
 #VOY_BRIDGE_11 { animation-delay: 0.1023s; }
 #VOY_READYROOM_20 { animation-delay: 0.1091s; }
 #VOY_CONFERENCE_17 { animation-delay: 0.1159s; }
 #VOY_BRIDGE_04 { animation-delay: 0.1227s; }
 #VOY_BRIDGE_07 { animation-delay: 0.1295s; }
 #VOY_BRIDGE_06 { animation-delay: 0.1364s; }
 #VOY_BRIDGE_10 { animation-delay: 0.1432s; }
 #VOY_HOLODECK_DOOR { animation-delay: 0.0000s; }
 #VOY_TREATMENT { animation-delay: 0.0375s; }
 #VOY_HALL { animation-delay: 0.0750s; }
 #VOY_DOC_OFFICE { animation-delay: 0.1125s; }
 #VOY_TRANSPORTER_00 { animation-delay: 0.0000s; }
 #VOY_TRANSPORTER_01 { animation-delay: 0.0750s; }
 #VOY_ENGINEERING_00 { animation-delay: 0.0000s; }
 #VOY_ENGINEERING_01 { animation-delay: 0.0750s; }
 #VOY_MESS { animation-delay: 0.0000s; }
 #KENT_BRIDGE_01 { animation-delay: 0.0000s; }
 #KENT_BRIDGE_00 { animation-delay: 0.0750s; }
 #KENT_HALL_00 { animation-delay: 0.0000s; }
 #KENT_HALL_01 { animation-delay: 0.0750s; }
 #DISCO_BRIDGE_00 { animation-delay: 0.0000s; }
 #DISCO_BRIDGE_01 { animation-delay: 0.0750s; }
 #DISCO_TRANSP_00 { animation-delay: 0.0000s; }
 #DISCO_TRANSP_01 { animation-delay: 0.0750s; }
 #DISCO_MESS { animation-delay: 0.0000s; }
 #DISCO_HALL { animation-delay: 0.0000s; }
 #ISS_KIBO { animation-delay: 0.0000s; }
 #ISS_COLUMBUS { animation-delay: 0.0187s; }
 #ISS_HARMONY { animation-delay: 0.0375s; }
 #ISS_DESTINY { animation-delay: 0.0562s; }
 #ISS_UNITY { animation-delay: 0.0750s; }
 #ISS_TRANQUILITY { animation-delay: 0.0938s; }
 #ISS_ZARYA { animation-delay: 0.1125s; }
 #ISS_ZVEZDA { animation-delay: 0.1313s; }