#page-wrap {
    #bar {

    }
    #main {
    }
}

@media (orientation: landscape) {
    #page-wrap {
        #bar {
            flex: 1 10 25vw;
            flex: 1 10 25dvw;

            min-width: 30vh;
            min-width: 30dvh;

            max-width: 80vh;
            max-width: 80dvh;

            @media (max-height: 900px) {
                flex-basis: 35vh;
                flex-basis: 35dvh;
            }

        }
        #main {
            flex: 1 1 130vh;
            flex: 1 1 130dvh;
        }
    }
}


@media (orientation: portrait) {
    #page-wrap {
        #bar {
            flex: 4 3 auto;
            min-height: 30vh;
            min-height: 30dvh;
            max-height: 50vh;
            max-height: 50dvh;
            
        }
        #main {
            flex: 1 1 80vw;
            flex: 1 1 80dvw
        }
    }
}


html {

    @media (orientation: portrait) {
        @media (max-width: 800px) {
            font-size: 12px;
        }
        @media (max-width: 440px) {
            font-size: 11px;
        }
        @media (max-width: 400px) {
            font-size: 10px;
        }
        @media (max-width: 380px) {
            font-size: 9px;
        }
        @media (max-width: 350px) {
            font-size: 9px;
        }
        @media (max-width: 330px) {
            font-size: 8px;
        }


    }

    @media (orientation: landscape) {
        @media (max-height: 700px) {
            font-size: 14px;
        }
        @media (max-height: 600px) {
            font-size: 12px;
        }
        @media (max-height: 450px) {
            font-size: 10px;
        }
        @media (max-height: 400px) {
            font-size: 9px;
        }
        @media (max-height: 350px) {
            font-size: 8px;
        }

    }

}

#main #psvContainer1 #psvMain {

    @media (max-height: 700px) and (max-width: 700px) {
        border-radius: 2px;
    }

    @media (min-width: 1100px) and (min-height: 900px) {
        border-radius: 4px;
    }

    @media (min-width: 1500px) and (min-height: 1000px) {
        border-radius: 5px;
    }
}


