#page-wrap {
    #bar {

    }
    #main {
    }
}

@media (orientation: landscape) {
    #page-wrap {
        #bar {
            flex: 1 10 25vw;
            min-width: 30vh;
            max-width: 80vh;
            @media (max-height: 900px) {
                flex-basis: 35;
            }
        }
        #main {
            flex: 1 1 130vh;
        }
    }
}


@media (orientation: portrait) {
    #page-wrap {
        #bar {
            flex: 4 3 auto;
            min-height: 30vh;
            max-height: 50vh;
            
        }
        #main {
            flex: 1 1 80vw;
        }
    }
}


html {

    @media (orientation: portrait) {
        @media (max-width: 800px) {
            font-size: 12px;
        }
        @media (max-width: 440px) {
            font-size: 12px;
        }
        @media (max-width: 400px) {
            font-size: 10px;
        }
    }

    @media (orientation: landscape) {
        @media (max-height: 700px) {
            font-size: 14px;
        }
        @media (max-height: 600px) {
            font-size: 12px;
        }
        @media (max-height: 450px) {
            font-size: 10px;
        }
    }

}

#main #psvContainer1 #psvMain {

    @media (max-height: 700px) and (max-width: 700px) {
        border-radius: 2px;
    }

    @media (min-width: 1100px) and (min-height: 900px) {
        border-radius: 4px;
    }

    @media (min-width: 1500px) and (min-height: 1000px) {
        border-radius: 5px;
    }
}

/*

#psvCosmeticFrame, #psvCosmeticInner1, #psvCosmeticInner2 {
    background-color: transparent !important;
}
#psvContainer2 {
    background-color: green !important;
}
#psvMain {
    border-radius: 0px !important;
}

*/

#psvContainer2 {
    position: fixed !important;
    top:0 !important;
    bottom:0 !important;
    left:0 !important;
    right:0 !important;

    background-color: green !important;
    z-index: 999  !important;
    aspect-ratio: unset !important;

    display: flex;
    align-items: center;
    justify-content: center;
}


/*
640x324
960x486
1280x648
1920x972
*/

#psvCosmeticFrame {
    display: none !important;
}

#psvMain {
    margin: auto;
    position: relative !important;
    top:unset !important;
    bottom:unset !important;
    left:unset !important;
    right:unset !important;

    width:960px !important;
    height:486px !important;
    display: block !important;
}


@media (min-width: 1282px) {
    #psvMain {
        width:1280px !important;
        height:648px !important;    
    }
}
@media (min-width: 1922px) {
    #psvMain {
        width:1920px !important;
        height:972px !important;    
    }
}