 #SVGMAP_TOS { width: 45.009857442058035%; }
 #SVGMAP_DEFIANT { width: 34.56419198293913%; }
 #SVGMAP_ENTD { width: 67.32877693678054%; }
 #SVGMAP_ENG { width: 43.35515549747885%; }
 #SVGMAP_SICKBAY { width: 53.68904446444104%; }
 #SVGMAP_TENFORWARD { width: 64.97041566417886%; }
 #SVGMAP_TRANSP { width: 29.372989442109574%; }
 #SVGMAP_PICARD { width: 22.475553924954728%; }
 #SVGMAP_TROI { width: 22.522651681270524%; }
 #SVGMAP_DATA { width: 23.321156663215262%; }
 #SVGMAP_WORF { width: 31.030682398821394%; }
 #SVGMAP_SHUTTLE { width: 17.274334499705173%; }
 #SVGMAP_BTS { width: 8.450905573139629%; }
 #SVGMAP_ENTE { width: 57.21967749026894%; }
 #SVGMAP_VOY { width: 95%; }
 #SVGMAP_BOP { width: 32.96359628156927%; }