 #SVGMAP_USS_ENTERPRISE_MAIN_BRIDGE { width: 47.08544166182405%; }
 #SVGMAP_BIRD_OF_PREY_D12_BRIDGE { width: 36.21957050909542%; }
 #SVGMAP_USS_ENTERPRISE-D_DECK_ONE { width: 67.32877693678054%; }
 #SVGMAP_USS_ENTERPRISE-D_ENGINEERING { width: 43.35515549747885%; }
 #SVGMAP_USS_ENTERPRISE-D_SICKBAY { width: 53.68904446444104%; }
 #SVGMAP_USS_ENTERPRISE-D_TEN-FORWARD_LOUNGE { width: 64.97041566417886%; }
 #SVGMAP_USS_ENTERPRISE-D_TRANSPORTER_ROOM_3 { width: 29.372989442109574%; }
 #SVGMAP_USS_ENTERPRISE-D_CPT_PICARDS_QUARTERS { width: 22.475553924954728%; }
 #SVGMAP_USS_ENTERPRISE-D_CNS_TROIS_QUARTERS { width: 22.522651681270524%; }
 #SVGMAP_USS_ENTERPRISE-D_LT_DATAS_QUARTERS { width: 23.321156663215262%; }
 #SVGMAP_USS_ENTERPRISE-D_LT_WORFS_QUARTERS { width: 31.030682398821394%; }
 #SVGMAP_USS_ENTERPRISE-D_TYPE_6_SHUTTLECRAFT { width: 25.353699356366796%; }
 #SVGMAP_USS_ENTERPRISE-D_BEHIND_THE_SCENES { width: 7.243914101819084%; }
 #SVGMAP_USS_DEFIANT_DECK_ONE { width: 36.21957050909542%; }
 #SVGMAP_USS_VOYAGER_DECK_ONE { width: 95%; }
 #SVGMAP_USS_VOYAGER_SICKBAY__DECK_5 { width: 86.92696922182901%; }
 #SVGMAP_USS_VOYAGER_TRANSPORTER_ROOM { width: 28.975656407276336%; }
 #SVGMAP_USS_VOYAGER_ENGINEERING { width: 90.54892627273856%; }
 #SVGMAP_USS_VOYAGER_MESS_HALL { width: 47.08544166182405%; }
 #SVGMAP_USS_ENTERPRISE-E_BRIDGE { width: 54.32935576364313%; }
 #SVGMAP_USS_ENTERPRISE_KELVIN_BRIDGE { width: 65.19522691637175%; }
 #SVGMAP_USS_ENTERPRISE_KELVIN_CORRIDOR { width: 79.68305512000993%; }
 #SVGMAP_ISS_STATION_13_SCALE { width: 90.54892627273856%; }