 #SVGMAP_PLN_TOS { width: 46.373250528024144%; }
 #SVGMAP_PLN_KBOP { width: 35.868812563112606%; }
 #SVGMAP_PLN_ENTD { width: 68.03750090453612%; }
 #SVGMAP_PLN_ENG { width: 43.81152555534705%; }
 #SVGMAP_PLN_SICKBAY { width: 47.34317250039403%; }
 #SVGMAP_PLN_TENFORWARD { width: 65.65431477643337%; }
 #SVGMAP_PLN_TRANSP { width: 29.682178804658097%; }
 #SVGMAP_PLN_PICARD { width: 22.71213870311215%; }
 #SVGMAP_PLN_TROI { width: 22.759732225283898%; }
 #SVGMAP_PLN_DATA { width: 23.56664252282805%; }
 #SVGMAP_PLN_WORF { width: 31.35732116091425%; }
 #SVGMAP_PLN_TYPE6 { width: 25.620580402223286%; }
 #SVGMAP_PLN_CLAPPER { width: 10.98024874380998%; }
 #SVGMAP_PLN_EE { width: 54.9012437190499%; }
 #SVGMAP_PLN_DEF { width: 36.60082914603327%; }
 #SVGMAP_PLN_VOY { width: 96%; }
 #SVGMAP_PLN_VOY_SICKBAY { width: 87.84198995047984%; }
 #SVGMAP_PLN_VOY_TRANSP { width: 26.169592839413788%; }
 #SVGMAP_PLN_VOY_ENG { width: 91.50207286508316%; }
 #SVGMAP_PLN_VOY_MESS { width: 47.58107788984325%; }
 #SVGMAP_PLN_JJ { width: 65.88149246285988%; }
 #SVGMAP_PLN_JJHALL { width: 80.52182412127318%; }
 #SVGMAP_PLN_DISCO_BRIDGE { width: 75.94672047801903%; }
 #SVGMAP_PLN_DISCO_TRANSP { width: 60.02535979949455%; }
 #SVGMAP_PLN_DISCO_MESS { width: 81.80285314138436%; }
 #SVGMAP_PLN_DISCO_HALL { width: 61.12338467387555%; }
 #SVGMAP_PLN_ISS { width: 91.50207286508316%; }