 #SVGMAP_USS_ENTERPRISE_MAIN_BRIDGE { height: 55.04020542163405%; }
 #SVGMAP_USS_ENTERPRISE-D_DECK_ONE { height: 95%; }
 #SVGMAP_USS_ENTERPRISE-D_ENGINEERING { height: 82.48644810821848%; }
 #SVGMAP_USS_ENTERPRISE-E_BRIDGE { height: 58.97164866603648%; }
 #SVGMAP_USS_VOYAGER_DECK_ONE { height: 52.634641792135575%; }
 #SVGMAP_USS_VOYAGER_SICKBAY__DECK_5 { height: 62.90309191043891%; }
 #SVGMAP_USS_ENTERPRISE_BRIDGE { height: 55.04020542163405%; }
 #SVGMAP_USS_ENTERPRISE_CORRIDOR { height: 43.24587568842675%; }
 #SVGMAP_USS_DISCOVERY_BRIDGE { height: 47.17731893282918%; }
 #SVGMAP_USS_DISCOVERY_TRANSPORTER_ROOM { height: 55.04020542163405%; }
 #SVGMAP_USS_DISCOVERY_MESS_HALL { height: 55.04020542163405%; }
 #SVGMAP_MISC_MISC { height: 31.451545955219455%; }