 #SVGMAP_PLN_TOS { height: 55.61957600501967%; }
 #SVGMAP_PLN_KBOP { height: 47.673922290016854%; }
 #SVGMAP_PLN_ENTD { height: 96%; }
 #SVGMAP_PLN_ENG { height: 83.35472650935763%; }
 #SVGMAP_PLN_SICKBAY { height: 63.58133953292965%; }
 #SVGMAP_PLN_TENFORWARD { height: 86.96530704116519%; }
 #SVGMAP_PLN_TRANSP { height: 41.54006434489699%; }
 #SVGMAP_PLN_PICARD { height: 58.46400085018495%; }
 #SVGMAP_PLN_TROI { height: 47.51916876543661%; }
 #SVGMAP_PLN_DATA { height: 33.7841456895201%; }
 #SVGMAP_PLN_WORF { height: 55.26113564745532%; }
 #SVGMAP_PLN_TYPE6 { height: 11.123915201003932%; }
 #SVGMAP_PLN_CLAPPER { height: 11.918480572504214%; }
 #SVGMAP_PLN_EE { height: 56.41414137651994%; }
 #SVGMAP_PLN_DEF { height: 83.4293640075295%; }
 #SVGMAP_PLN_VOY { height: 53.188690653105425%; }
 #SVGMAP_PLN_VOY_SICKBAY { height: 63.56522972002248%; }
 #SVGMAP_PLN_VOY_TRANSP { height: 41.317399318014616%; }
 #SVGMAP_PLN_VOY_ENG { height: 75.4837102925267%; }
 #SVGMAP_PLN_VOY_MESS { height: 43.70109543251545%; }
 #SVGMAP_PLN_JJ { height: 55.61957600501967%; }
 #SVGMAP_PLN_JJHALL { height: 43.70109543251545%; }
 #SVGMAP_PLN_DISCO_BRIDGE { height: 77.09270516981476%; }
 #SVGMAP_PLN_DISCO_TRANSP { height: 51.646749147518264%; }
 #SVGMAP_PLN_DISCO_MESS { height: 50.0576184045177%; }
 #SVGMAP_PLN_DISCO_HALL { height: 31.78261486001124%; }
 #SVGMAP_PLN_ISS { height: 72.82191629800074%; }