 #SVGMAP_USS_ENTERPRISE_MAIN_BRIDGE { height: 55.04020542163405%; }
 #SVGMAP_USS_ENTERPRISE-D_DECK_ONE { height: 95%; }
 #SVGMAP_USS_ENTERPRISE-D_ENGINEERING { height: 82.48644810821848%; }
 #SVGMAP_USS_ENTERPRISE-E_BRIDGE { height: 58.97164866603648%; }
 #SVGMAP_USS_ENTERPRISE_KELVIN_BRIDGE { height: 55.04020542163405%; }
 #SVGMAP_USS_ENTERPRISE_KELVIN_CORRIDOR { height: 43.24587568842675%; }
 #SVGMAP_USS_DISCOVERY_2256_BRIDGE { height: 47.17731893282918%; }
 #SVGMAP_USS_DISCOVERY_2256_TRANSPORTER_ROOM { height: 55.04020542163405%; }
 #SVGMAP_USS_DISCOVERY_2256_MESS_HALL { height: 55.04020542163405%; }
 #SVGMAP_ISS_STATION_13_SCALE { height: 74.69742164364621%; }