
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 774px) {
  html {
    font-size: 20px;
  }
}




body,
html {
  margin: 0;
  padding: 0;
  background-color: #000;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#fullWrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;

  @media (orientation: portrait) {
    flex-direction: column-reverse;

  }

  @media (orientation: landscape) {
    flex-direction: row;
  }



}


#main {
  flex: 1 1 auto;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  #container {
    position: relative;
    display: block;

    background-image: url("./../images/frame.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;


    #photosphere {
      position: absolute;
    }

  }

}



#bar {
  flex: 0 0 auto;
  background-color: #000;
  position: relative;



  scrollbar-width: thin;
  scrollbar-color: #333 #222;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: #222;
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 0.5rem;
  }


  #innerBar {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
  }
}


.topTitle,
.sTitle {
  font-family: 'Bebas Neue', 'Arial Narrow', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  white-space: nowrap;

  position: relative;
  width: 100%;

  &>div {
    position: absolute;
    width: 100%;
    transform-origin: 100% 0;
    display: flex;
    align-items: center;
    justify-content: left;
    & > div {
      padding-top: 0.2em;
    }
  }
}

$ttS: 1.4rem;
$ttF: 1rem;
$mar: 0.4rem;
$sS: 0.85rem;

.topTitle {
  height: $ttS;
  font-size: $ttF;

  &>div {
    height: 105%;
    color: #000;
    background-color: #70a8c1;

    &>div {
      margin-left: $mar;

    }

  }

}

.sTitle {
  height: $sS;

  &>div {
    height: $sS;
    color: #000;
    background-color: #2e7fa5;
    font-size: $sS;
    line-height: $sS;

    &>div {
      margin-left: $mar;
      height: 105%;
      background-color: #000;
      color: #2e7fa5;
      padding-left: $mar;
      padding-right: $mar;
    }

  }
}


@mixin psc($width) {
  #container {
    width: $width;
    height: 3 * $width / 4;

    #photosphere {
      left: $width * 0.05;
      right: $width * 0.05;
      top: $width * 0.05;
      bottom: $width * 0.05;
      border-radius: $width / 75;
      overflow: hidden;
    }
    #alertButton {
      font-size:  $width / 50;
    }
  }
}





@media (orientation: landscape) {
  @include psc(75vw);
  @import "./land";



  #bar {
    margin: 5vh 0 5vh 1.5vh;
    width: 19vw;
    overflow-y: scroll;
    direction: rtl;

    #innerBar {
      left: 0.5vw;
      right: 0;
      top: 0;
      flex-direction: column;
    }
  }

  .topTitle,
  .sTitle {
    margin-bottom: 0.2em;
  }


  .mapBox {
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: auto;
  }


}

@media (min-aspect-ratio: 8/5) {
  @include psc(120vh);
}

@media (orientation: portrait) {

  @import "./port";

  @include psc(90vw);
  $innerBarHeight: 22.5vh;

  #bar {
    margin: 0 5vw 2.5vh 5vw;
    height: 24.5vh;
    overflow-x: scroll;

    #innerBar {
      top: 0;
      height: $innerBarHeight;
      flex-direction: row;
    }
  }



  .topTitle,
  .sTitle {
    height: $innerBarHeight;
    margin-right: 0.2rem;

    &>div {
      width: $innerBarHeight;
      transform: rotate(-90deg) translateY(-1 * $innerBarHeight);
      -webkit-transform: rotate(-90deg) translateY(-1 * $innerBarHeight);
      -moz-transform: rotate(-90deg) translateY(-1 * $innerBarHeight);
      -ms-transform: rotate(-90deg) translateY(-1 * $innerBarHeight);
      -o-transform: rotate(-90deg) translateY(-1 * $innerBarHeight);
    }

  }

  .topTitle {
    width: $ttS;

    &>div {
      height: $ttS;
    }
  }

  .sTitle {
    width: $sS;

    &>div {
      height: $sS;
    }
  }


  .mapBox {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    width: auto;
  }


}

.mapBox {
  font-size: 0.5rem;
}

.mapBox .cameraPoint {
  fill: #70a8c1;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 0.015rem;

  &:hover {
    cursor: pointer;
  }
}



#alertButton {
  font-size: 1rem;
  position: absolute;
  background-color: #ffd2a6;
  color: #000;
  width: 7%;
  height: 3.35%;
  bottom: 0;
  right: 7.5%;
  font-family: 'Bebas Neue', 'Arial Narrow', Arial, Helvetica, sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 0.3em;

  &:hover {
    cursor: pointer;
    background-color: #ffd66d;
  }

  display: none;

  &.visible {
    display: flex;
  }


}

#ghlink {
  position: absolute;
  right:1vmin;
  top:1vmin;
  height:2vmin;
  width:2vmin;
  background-image: url("./../images/GitHub-Mark-64px.png");
  background-size: contain;
  display: block;
  &:hover {
    background-image: url("./../images/GitHub-Mark-Light-64px.png");
  }
}


#innerBar.ready svg.mapBox .cameraPoint {
  animation-name: flashy;
  animation-duration: 0.2s;
  animation-delay: 0s;
  animation-iteration-count: 7;
  animation-fill-mode: none;
  
}

@keyframes flashy {
  0%   {opacity: 1;}
  25%  {opacity: 0.5;}
  50%  {opacity: 0.5;}
  75%  {opacity: 1;}
  100% {opacity: 1;}
}
