#bar {
    background-color: #030;


    scrollbar-width: thin;
    scrollbar-color: #333 #222;

    &.bar::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: #222;
        border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #333;
        border-radius: 0.5rem;
    }


    #innerBar {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        direction: ltr;
    }

}


@media (orientation: landscape) {





    .topTitle,
    .sTitle {
        width: 18.5vw;
    }

    #main {
        top: 0;
        bottom: 0;
        right: 0;
        width: 79vw;
    }

}


@media (orientation: portrait) {




    #bar {
        bottom: 2.5vh;
        left: 5vw;
        right: 5vw;
        height: 24.5vh;
        overflow-x: scroll;

        #innerBar {
            height: $innerBarHeight;
            flex-direction: row;
        }

    }

    .main {
        top: 0;
        height: 73vh;
        left: 0;
        right: 0;
    }

}
